
<body>
    <h1>Reporting Management</h1>
<form>

    <br><br>
    <div class="card" id="reporting">

        <!-- <button routerLink="/creditors-report" type="submit">Generate Creditors report</button> -->
        
        <button routerLink="/sales-report" type="submit">Generate Sales Report</button>
        
        <button routerLink="/customer-report" type="submit">Generate Customer Order Report </button>
        <br>
        <button routerLink="/supplier-report" type="submit">Generate Supplier Report</button>
        
        <!-- <button routerLink="/markedOff-product-report" type="submit">Marked Off Product Report</button> -->
        
        <button routerLink="/product-report" type="submit">Generate Product Report</button>
        <br>
        <button routerLink="/user-report" type="submit">Generate User Report</button>
        <br>

        </div>

</form>
<router-outlet></router-outlet>
</body>


