
<body>
    <h1>Reporting Management</h1>
<form>

    <br><br>
    <div class="card" id="reporting">

        <button routerLink="/creditors-report" type="submit">Generate Creditors report</button>
        
        <button routerLink="/sales-report" type="submit">Generate Sales Report</button>
        <br>
        <button routerLink="/customer-report" type="submit">Generate Customer Order Report </button>
        
        <button routerLink="/supplier-report" type="submit">Generate Supplier Order Report</button>
        <br>
        <button routerLink="/markedOff-product-report" type="submit">Marked Off Product Report</button>
        
        <button routerLink="/product-report" type="submit">Product Report</button>
        <br>
        <button routerLink="/donation-report" type="submit">Donation Report</button>
       

        </div>

</form>
<router-outlet></router-outlet>
</body>


