
<body>

    <h1>Add Donated Product</h1>
<form>
    
    <div class="card">
        <div class="divleft">
        <label class="subheadinglabel">Enter product details </label>
        <br><br>
        <label for="Name">Product Name</label>
       <input type = "text" id="nameInput"  class="input" >     
        <br><br>
        <button type="submit"  >Search</button>
        <button  type="submit" >Cancel</button>
        </div>  
    </div>
    <br><br>
    
    <div class="card">
        
        <table title="Search results">
            <th>Product Name </th>
            <th>Description</th>
            <th>Action</th>
            
            
            <tr>
                <td>Top white m/meal 50kg </td>
                <td>50 kg mealie meal by Top white</td>
                <td><button >Add</button></td>
            </tr>
            <tr>
                <td>Top white m/meal 80kg </td>
                <td>80 kg mealie meal by Top white</td>
                <td><button>Add</button></td>
            </tr>
            
        </table> 
        


        
    </div>

</form>
<router-outlet></router-outlet>
</body>

