<body>
    <h1>Sale Management</h1>
    <br>
    <form>
        
        <div class="card" id="salemanagement">
            <br>        
            <button routerLink="/make-sale" type="submit">Make Sale</button>
           
            <button routerLink="/search-sale" type="submit">Search Sale</button>
            
            <button routerLink="/makeSale" type="submit">Make Payment</button>
            
            
        </div>
        <br>
        <div class="subheadinglabel">Card Machine disconnected? Please watch the video below for reconnection.</div>
        <iframe width="600" height="315" src="https://www.youtube.com/embed/K_EBDluBabQ?autoplay=0&mute=1"> </iframe>
    
    </form>
  
  </body>
