<body>
    <h1>Receive Stock</h1>
    <div class="divright">
      <label style="color:orange" (click)="openHelp()">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form>
    <div class="card">
        <div class="divleft" *ngIf="!showOrder">
          <label class="subheadinglabel" style="width: 100%">List Of Placed and Back Ordered Orders In Container</label>
        </div>
        <div *ngIf="showList">
            <table [ngModelOptions]="{standalone: true}">
             <th >Date</th>
             <th style="width: 50%;">Supplier</th>
             <th >Status</th>
             <th>Action</th>
         
         <tr *ngFor="let item of supplierOrders; index as ndx">
             <td>{{item.SODate | date: 'yyyy-MM-dd'}}</td>
             <td style="width: 50%;">{{item.SupName}}</td>
             <td>{{item.Status}}</td>
             <td><button style="border-radius: 10px; width: 95%;" (click)="View(ndx)">View</button></td> 
         
         </tr>
         
         </table>
         </div>
         
         <div class="left" *ngIf="showOrder">
           <label class="subheadinglabel">Supplier Order Details </label>
           <label style="width: 100%">Supplier {{selectedOrder.SupName}}</label>
           <div class="left">
             <div style="float:left; width: 50%">
               <label style="width: 100%">Date: {{selectedOrder.SODate | date:'yyyy-MM-dd'}}</label>
             </div>
             <div style="float:left; width: 50%">
               <label style="width: 100%">Status {{selectedOrder.Status}}</label>
             </div>
           </div>
           <span style="color: orangered " *ngIf="showError">
            {{errorMessage}}</span>
         
           <table [ngModelOptions]="{standalone: true}" style="width: 100%; padding: 0px">
            <th style="padding: 1px">Product</th>
            <th style="padding: 1px">Ordered</th>
            <th style="padding: 1px">Received</th>
            <th  style= " padding: 1px; width: 20%; padding: 1px">Save</th>
         
         <tr *ngFor="let item of orderproducts; index as ndx; trackBy:trackByndx;">
            <td>{{item.ProdName}}</td>
            <td>{{item.SOPQuantityOrdered}}</td>
            <td><input style="width: 95%" type = "number"  name="a{{ndx}}" [(ngModel)] ="orderproducts[ndx].SOPQuantityRecieved"></td>
            <td><button style="border-radius: 10px; width: 95%;" (click)="save(ndx)"><i class="small material-icons">save</i></button></td>
            
         
         </tr>
         
         </table>
         <br>
         <div>
          <div class= "divleft" *ngIf="showDone">
            <button type="submit" style="width: 25%" (click)="Done()">Order Complete</button>
            <button type="submit" style="width: 25%" (click)="BackOrder()">Place Back Order</button>
          </div>
         <div class= "divleft">
           <button type="submit" style="width: 25%" (click)="Back()">Back To List</button>
         </div>
        
         
      </div>
        

         
         </div>
         
  