<body>
    <h1>Container Management</h1>
    <div class="divright">
        <label style="color:orange">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form>

        <div class="card"> 
        <button type="submit" style="width: 25%;" (click)="gotoCreateContainer()">Create Container</button>
        <br>
        <button type="submit" style="width: 25%;" (click)="gotoSearchContainer()">Update Container</button>
        <br>
        <button type="submit" style="width: 25%;" (click)="gotoSearchContainer()">Search Container</button>
        <br>
        <button type="submit" style="width: 25%;" (click)="gotoSearchContainer()">Delete Container</button>
        </div>
    </form>
</body>
