<body>
    <h1>Container Management</h1>

    <form>

        <div class="card"> 
        <button type="submit" (click)="gotoCreateContainer()">Create Container</button>
        <br>
        <button type="submit" (click)="gotoSearchContainer()">Update Container</button>
        <br>
        <button type="submit" (click)="gotoSearchContainer()">Search Container</button>
        <br>
        <button type="submit" (click)="gotoSearchContainer()">Delete Container</button>
        </div>
    </form>
</body>
