<body>
    <form>
        <h1>Search Stock Take</h1>
        <div class = "card">
            <div >
                <mat-radio-group  aria-label="Select Option To View">
                <mat-radio-button  value = 1 (click)="getAll()" >All Stock Takes</mat-radio-button>
                <mat-radio-button value = 2 (click)="getComplete()" >Completed</mat-radio-button>
                <mat-radio-button value = 3 (click)="getIncomplete()" >Incomplete</mat-radio-button>
                <mat-radio-button value = 4 (click)="getByContainer()" >By Container</mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf = "showContainer">
            <label>Select Container</label><select  required name="SelectContainer" (ngModelChange)="selectConTAINER($event)">
                <option  *ngFor="let container of containers" [ngValue]="container" >{{container.ConName}}</option>
               </select>
               <br>
               <div *ngIf="showError">
                <span>container selection required</span>
            </div>
               <button type="submit" (click)="searchByContainer()">Search</button>
             
        </div>
            
            <div *ngIf="showList">
                <table>
                    <th></th>
                    <th>StockTake Date</th>
                    <th>Is Completed</th>
                    <th></th>

                    <tr *ngFor="let item of stocktakes, index as ndx">
                        <th>{{ndx+1}}</th>
                        <td>{{item.STakeDate | date: 'yyyy-MM-dd' }}</td>
                        <td>{{item.isCompleted}}</td>
                        <td><button style="border-radius: 10px; width: 95%;" (click)="Start(ndx)">View</button></td>

                    </tr>
                </table>
            </div>

            <div clss="divleft" *ngIf="showTable" >

                <div class="divleft">
                <label style="width: 100%">Done By: {{employee}} </label>
                </div>
                <div class = "divleft">
                    <label>In Container: {{container.ConName}} </label>
                </div>

            <div class = "divleft" >
                <label>On Date: {{stocktake.STakeDate | date: 'yyyy-MM-dd'}}</label>
            </div>

                
            <table style="width: 100%; padding: 0px">
                    <th style="width: 30%;padding: 0px">Product Name</th>
                    <th style="width: 20%;padding: 0px">Quantity</th>
                    <th style="width: 20%; padding: 0px">Stock Count</th>
                    <th style="width: 20%; padding: 0px">Marked Off</th>
    
                <tr *ngFor="let item of list; index as ndx">
                    <td>{{item.Prodname}}</td>
                    <td>{{item.CPQuantity}}</td>
                    <td>{{item.STCount}}</td>
                    <td>{{item.MOQuantity}}</td> 
    
                </tr>
    
            </table>

            <button type="submit" (click)="Cancel()">Cancel</button>
        </div>

