
<body>

    <h1>Add Creditor</h1>
    <div class="divright">
        <label style="color:orange"  (click)="openHelp()">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form [formGroup]="credForm">
    <div class="card" *ngIf = "showSearch">
            
        <div class="divleft">
            <label class="subheadinglabel">Enter new creditor details:</label>

<br>
<div class="divleft">
    <div class="divleft" >
        <label>Supplier:</label>
          <select required formControlName="SupplierID" class="form-control" [(ngModel)]="creditor.SupplierID" name="SupplierID" id="SupplierID" required>
                
                <option  *ngFor="let supplier of suppliers" value="{{supplier.SupplierID}}">{{supplier.SupName}}</option>
          </select>
          <br>
              <span style="color:red" *ngIf="credForm.get('SupplierID').errors && (credForm.get('SupplierID').touched || credForm.get('SupplierID').dirty)">
                  <span *ngIf="credForm.get('SupplierID').errors.required">Supplier is required.</span>
              </span>
        </div>
                  
                  <div class="divleft">
                    <label for="Bank">Bank:</label>
                    <input type = "text" id="bank" class="form-control" formControlName="CredBank" [(ngModel)]="creditor.CredBank" [ngModelOptions]="{standalone: true}" name="CredBank"  required  >  
                    <span style="color:red" *ngIf="credForm.get('CredBank').errors && (credForm.get('CredBank').touched || credForm.get('CredBank').dirty)">
                        <br> <span *ngIf="credForm.get('CredBank').errors.required"><br>Bank is required.<br></span>
                      </span>
                </div>
                <div class="divleft">
                    <label for="Branch">Branch:</label>
                    <input type = "text" id="branch" class="form-control" formControlName="CredBranch" [(ngModel)]="creditor.CredBranch" [ngModelOptions]="{standalone: true}" name="CredBranch"  required  >  
                    <span style="color:red" *ngIf="credForm.get('CredBranch').errors && (credForm.get('CredBranch').touched || credForm.get('CredBranch').dirty)">
                        <br> <span *ngIf="credForm.get('CredBranch').errors.required"><br>Branchis required.<br></span>
                      </span>
                    <br>
                </div>
                <div class="divleft" >
                    <label for="CredAccount">Account Number:</label>
                        <input type="text" formControlName="CredAccount" [(ngModel)]="creditor.CredAccount" id="CredAccount" name="CredAccount" pattern="[0-9 ]*" required>
                        <br>
                        <span style="color:red" *ngIf="credForm.get('CredAccount').errors && (credForm.get('CredAccount').touched || credForm.get('CredAccount').dirty)">
                            <span *ngIf="credForm.get('CredAccount').errors.required">Account Number is required.<br></span>
                            <span *ngIf="credForm.get('CredAccount').errors.minlength">Account number must be between 10 and 12 digits.</span>
                            <span *ngIf="credForm.get('CredAccount').errors.maxlength">Account number must be between 10 and 12 digits.</span>
                            <span *ngIf="credForm.get('CredAccount').errors.pattern">Only numbers/digits allowed.<br></span>
                        </span>
                </div>
                <div class="divleft">
                    <label for="Type">Account Type:</label>
                    <input type = "text" id="type" class="form-control" formControlName="CredType" [(ngModel)]="creditor.CredType" [ngModelOptions]="{standalone: true}" name="CredType"  required  >  
                    <span style="color:red" *ngIf="credForm.get('CredType').errors && (credForm.get('CredType').touched || credForm.get('CredType').dirty)">
                        <br> <span *ngIf="credForm.get('CredType').errors.required"><br>Account Type is required.<br></span>
                      </span>
                </div>
                <div class="divleft">
                    <label for="Type">Account Balance:</label>
                    <input type = "number" id="balance" class="form-control" formControlName="CredAccountBalance" [(ngModel)]="creditor.CredAccountBalance" [ngModelOptions]="{standalone: true}" name="CredAccountBalance"  required  >  
                    <span style="color:red" *ngIf="credForm.get('CredAccountBalance').errors && (credForm.get('CredAccountBalance').touched || credForm.get('CredAccountBalance').dirty)">
                        <br> <span *ngIf="credForm.get('CredAccountBalance').errors.required"><br>Account Balance is required.<br></span>
                      </span>
                </div>
                
        </div> 

        <div class="divleft">
            <button type="submit" (click)= "Save()">Add</button>
            <button type="button" (click)= "gotoCreditorManagement()">Cancel</button>
            
        </div>

    </div>
    
    <div id ="creditor" *ngIf = "showResults">
            <div class="card">
                    <label> <span style="white-space: nowrap;">Creditor</span></label>
                    
                    <div class="divleft">
                        <br>
                        <label for="Name">Name</label>
                        <input type = "text" id="name" class="form-control" [(ngModel)]="supplier.SupName" name="SupName"  required [readonly] = "this.inputEnabled" >  
                        <br>
                    </div> 

                    <div class="divleft">
                        <label for="CellNumber">Cell Number</label>
                        <input type = "text" id="cellNumber" class="form-control" [(ngModel)]="supplier.SupCell" name="SupCell"  required [readonly] = "this.inputEnabled">  
                        <br>
                    </div>

                    <div class="divleft">
                        <label for="Email">Email</label>
                        <input type = "text" id="email" class="form-control" [(ngModel)]="supplier.SupEmail" name="SupEmail"  required [readonly] = "this.inputEnabled" >  
                        <br>
                    </div>
                </div>
            
        
            <div class="card">
                <label > <span style="white-space: nowrap;">Creditor Account</span></label>
                <br>
                <label class="subheadinglabel">Enter account details of new creditor:</label>
                <div class="divleft">
                    <label></label>
                    <label for="Name">Account Balance in R</label>
                    <input type = "number"  min=0.00 class="form-control" [(ngModel)]="creditor.CredAccountBalance" name="CredAccountBalance" id="CredAccountBalance" >  
                    <br>
                </div> 
                
                <div class="divleft" >
                    <button type="submit" (click)="addCreditor()">Save</button>
                    <button type="button" (click)="cancel()">Cancel</button>
                </div>
            </div>   
     </div>



 







