<body>
    <h1>Search Donation Recipient</h1>
    <form>
        <div class="card" > 
            <p class="subheadinglabel">Search Donation Recipient By:</p>
            <div class="divleft">
                <button type="submit" (click)="All()">All Donation Recipients</button>
                <button type="submit" (click)="Input()">Input Criteria</button>
            </div>
        </div>
    </form>

    <form>
        <div class="card" *ngIf= "showAll"> 
            <p class="subheadinglabel">List of all the donation recipients:</p>

            <table>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Cell Number</th>
                </tr>


                <tr *ngFor="let recipient of allRecipients | async">
                    <td>{{recipient.DrName}}</td>
                    <td>{{recipient.DrSurname}}</td>
                    <td>{{recipient.DrCell}}</td>
                </tr>
                
            </table> 
            <button type="submit" (click)="Cancel()">Cancel</button> 
        </div>
    
    </form>
   <form [formGroup]="donForm">
        <div class="card" *ngIf = "showSearch"> 
            <p class="subheadinglabel" >Enter Donation Recipient Name and Surname To Search:</p>
            <div class="divleft" >
                <label for="name" >Name:</label><input class="searchinput" formControlName="name" class="form-control" [(ngModel)]="name" type="text" id="name" name="name" pattern="[a-zA-Z ]*" required>
                <br>
                <span style="color:red" *ngIf="donForm.get('name').errors && (donForm.get('name').touched || donForm.get('name').dirty)">
                    <span *ngIf="donForm.get('name').errors.required">Name is required.</span>
                    <span *ngIf="donForm.get('name').errors.minlength || donForm.get('name').errors.maxlength">Name must be greater than 2 characters and less than 25 characters</span>
                    <span *ngIf="donForm.get('name').errors.pattern">Only text characters.</span>
                </span>
                <br>
                <label for="DrSurname">Surname:</label><input class="searchinput" formControlName="surname" class="form-control" [(ngModel)]="surname" type="text" id="surname" name="surname" pattern="[a-zA-Z ]*" required>
                <br>
                 <span style="color:red" *ngIf="donForm.get('surname').errors && (donForm.get('surname').touched || donForm.get('surname').dirty)">
                     <span *ngIf="donForm.get('surname').errors.required">Surname is required.</span>
                     <span *ngIf="donForm.get('surname').errors.minlength || donForm.get('surname').errors.maxlength">Surname must be greater than 2 characters and less than 35 characters</span>
                     <span *ngIf="donForm.get('surname').errors.pattern">Only text characters.</span>
                 </span>
                <br>
                <button  type="submit" (click)="Search()">Search</button>
                <button  type="submit" (click)="Cancel()">Cancel</button>

                <div *ngIf="donNull" class ="divleft">
                    <label style="color: red; font-size: 13px; width :200px">Please enter a donation recipient details.</label>
                </div>
            </div>
        </div>
    
    <br><br>
         <div class="card" *ngIf = "showResults">
            <div class="divleft">
                <label class="subheadinglabel">Searched Donation Recipient Details:</label>
                <br>
                <label for="DrName">Name:</label><input  input type="text" formControlName="DrName" class="form-control" [(ngModel)]="donationRecipient.DrName" id="DrName" name="DrName" pattern="[a-zA-Z ]*" required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="donForm.get('DrName').errors && (donForm.get('DrName').touched || donForm.get('DrName').dirty)">
                    <span *ngIf="donForm.get('DrName').errors.required">Name is required.</span>
                    <span *ngIf="donForm.get('DrName').errors.minlength || donForm.get('DrName').errors.maxlength">Name must be greater than 2 characters and less than 25 characters</span>
                    <span *ngIf="donForm.get('DrName').errors.pattern">Only text characters.</span>
                </span>
                <br>
                 <label for="DrSurname">Surname:</label><input  input type="text" formControlName="DrSurname"  class="form-control" [(ngModel)]="donationRecipient.DrSurname" id="DrSurname" name="DrSurname" pattern="[a-zA-Z ]*" required [readonly] = "this.inputEnabled">
                 <br>
                 <span style="color:red" *ngIf="donForm.get('DrSurname').errors && (donForm.get('DrSurname').touched || donForm.get('DrSurname').dirty)">
                     <span *ngIf="donForm.get('DrSurname').errors.required">Surname is required.</span>
                     <span *ngIf="donForm.get('DrSurname').errors.minlength || donForm.get('DrSurname').errors.maxlength">Surname must be greater than 2 characters and less than 35 characters</span>
                     <span *ngIf="donForm.get('DrSurname').errors.pattern">Only text characters.</span>
                 </span>
                 <br>
                <label for="DrCell">Cell Number:</label><input  input type="text" formControlName="DrCell" class="form-control" [(ngModel)]="donationRecipient.DrCell" id="DrCell" name="DrCell" pattern="[0-9 ]*" required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="donForm.get('DrCell').errors && (donForm.get('DrCell').touched || donForm.get('DrCell').dirty)">
                    <span *ngIf="donForm.get('DrCell').errors.required">Cell number is required.</span>
                    <span *ngIf="donForm.get('DrCell').errors.minlength || donForm.get('DrCell').errors.maxlength">Cell must be 10 numbers</span>
                    <span *ngIf="donForm.get('DrCell').errors.pattern">Only numbers allowed.</span>
                </span>
                 <br>
                <label for="DrEmail">Email:</label><input  input type="text" formControlName="DrEmail" class="form-control" [(ngModel)]="donationRecipient.DrEmail" id="DrEmail" name="DrEmail" pattern="[a-zA-Z ]*" required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="donForm.get('DrEmail').errors && (donForm.get('DrEmail').touched || donForm.get('DrEmail').dirty)">
                    <span *ngIf="donForm.get('DrEmail').errors.required">Email is required.</span>
                    <span *ngIf="donForm.get('DrEmail').errors.email">Please enter in a valid email address.</span>
                </span>
                 <br>
                <label for="DrStreetNr">Street No.:</label><input  input type="text" formControlName="DrStreetNr" class="form-control" [(ngModel)]="donationRecipient.DrStreetNr" id="DrStreetNr" name="DrStreetNr" pattern="[0-9 ]*" required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="donForm.get('DrStreetNr').errors && (donForm.get('DrStreetNr').touched || donForm.get('DrStreetNr').dirty)">
                    <span *ngIf="donForm.get('DrStreetNr').errors.required">Street No. is required.</span>
                    <span *ngIf="donForm.get('DrStreetNr').errors.minlength || donForm.get('DrStreetNr').errors.maxlength">Street No. must be greater than 2 numbers and less than 10 numbers</span>
                    <span *ngIf="donForm.get('DrStreetNr').errors.pattern">Only numbers allowed.</span>
                </span>
                 <br>
                <label for="DrStreet">Street:</label><input  input type="text" formControlName="DrStreet" class="form-control" [(ngModel)]="donationRecipient.DrStreet" id="DrStreet" name="DrStreet" pattern="[a-zA-Z ]*" required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="donForm.get('DrStreet').errors && (donForm.get('DrStreet').touched || donForm.get('DrStreet').dirty)">
                    <span *ngIf="donForm.get('DrStreet').errors.required">Street is required.</span>
                    <span *ngIf="donForm.get('DrStreet').errors.minlength || donForm.get('DrStreet').errors.maxlength">Street must be greater than 2 characters and less than 35 characters</span>
                    <span *ngIf="donForm.get('DrStreet').errors.pattern">Only text characters.</span>
                </span>
                 <br>
                <label for="DrCode">Postal Code:</label><input  input type="text" class="form-control"  formControlName="DrCode" [(ngModel)]="donationRecipient.DrCode" id="DrCode" name="DrCode" pattern="[0-9 ]*" required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="donForm.get('DrCode').errors && (donForm.get('DrCode').touched || donForm.get('DrCode').dirty)">
                    <span *ngIf="donForm.get('DrCode').errors.required">Postal code is required.</span>
                    <span *ngIf="donForm.get('DrCode').errors.minlength || donForm.get('DrCode').errors.maxlength">Postal Code must be 4 numbers</span>
                    <span *ngIf="donForm.get('DrCode').errors.pattern">Only numbers allowed.</span>
                </span>
                 <br>
                <label for="DrArea">Suburb:</label><input  input type="text" formControlName="DrArea" class="form-control" [(ngModel)]="donationRecipient.DrName" id="DrArea" name="DrArea" pattern="[a-zA-Z ]*" required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="donForm.get('DrArea').errors && (donForm.get('DrArea').touched || donForm.get('DrArea').dirty)">
                    <span *ngIf="donForm.get('DrArea').errors.required">Area is required.</span>
                    <span *ngIf="donForm.get('DrArea').errors.minlength || donForm.get('DrArea').errors.maxlength">Area must be greater than 2 characters and less than 35 characters</span>
                    <span *ngIf="donForm.get('DrArea').errors.pattern">Only text characters.</span>
                </span>
                 <br>

            </div>
        
            <div class="divleft" *ngIf="showButtons">
                
                <button type="submit" (click)="Update()"  >Update</button>
                <button type="submit" (click)="Delete()" > Delete</button>
            </div>
            <div class="divleft" *ngIf="showSave">
                 <br>
                  <button  style="font-size: medium;" type="submit" (click)="Save()" >Save</button>
                 <button style="font-size: medium;" type="submit" (click)="cancel()"  >Cancel</button>
            </div>
         </div> 
     </form>  
</body>

