<body>
    <h1>Creditor Management</h1>
    <div class="divright">
        <label style="color:orange">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
<form>
    
    <div class="card" id="creditor">

        <label style="text-align: center;"><span style="white-space: nowrap;">Creditor</span></label>
        <br>
        <button style="width: 25%;" routerLink="/add-creditor" type="submit" >Add Creditor</button>
       <br>
        <button style="width: 25%;" routerLink="/search-creditor" type="submit">Search Creditor</button>
        <br>
        
        <button routerLink="/search-creditor" style="width: 25%;" type="submit">Update Creditor</button>
        <br>
        <button routerLink="/search-creditor" style="width: 25%;" type="submit">Remove Creditor</button>
        
        
    </div>
    <br><br>
    <div class="card" id="creditorPayment">
        <label style="text-align: center;"><span style="white-space: nowrap;">Creditor Payment</span></label>
        <br>
        <button routerLink="/add-payment" style="width: 25%;" type="submit">Add Creditor Payment</button>
        <br>
        <button routerLink="/search-payment" style="width: 25%;" type="submit">Search Creditor Payment</button>

        </div>

</form>
<router-outlet></router-outlet>
</body>



