
<body>
    <h1 *ngIf = "showDonation" >Create Donation</h1>
    <h1 *ngIf="showDonatedProduct">Add Donated Products</h1>
    <form [formGroup]="angForm">        
        <div class="card" *ngIf = "showSearch">
            <label class="subheadinglabel">Search for donation recipient:</label>
            <br>
            <button type="button" (click)= "showSearchByCell()">Search By Cell</button>
            <button type="button" (click)= "showSearchByName()">Search By Name</button>
            <button type="button" (click)= "gotoAddDonationRecipient()">Add Recipient</button>
            <!-- <button type="button" (click)= "gotoDonationManagement()">View all Recipients</button> -->
            <button type="button" (click)= "gotoDonationManagement()">Cancel</button>
        </div>

        <div class="card" *ngIf = "showCell">    
            <div class="divleft">
                <label class="subheadinglabel">Enter donation recipient cell number to search:</label>
                <br>
                <label for="cell">Cell:</label>
                <input type = "text" formControlName="cell"  id="cell"  class="cell" class="form-control" [(ngModel)]="cell" name="cell" pattern="[0-9 ]*" required>    
                <br>
                <span style="color:red" *ngIf="angForm.get('cell').errors && (angForm.get('cell').touched || angForm.get('cell').dirty)">
                    <span *ngIf="angForm.get('cell').errors.required">Cell number is required.</span>
                    <span *ngIf="angForm.get('cell').errors.minlength || angForm.get('cell').errors.maxlength">Cell number must be 10 number</span>
                    <span *ngIf="angForm.get('cell').errors.pattern">Only numebers.</span>
                </span>
            </div> 

            <div class="divleft">
                <button type="submit" (click)= "searchDonationRecipientByCell()" >Search</button>
            </div>
        </div>

        <div class="card" *ngIf = "showName">    
            <div class="divleft">
                <label class="subheadinglabel">Enter donation recipient details to search:</label>
                <br>
                <label for="name">Name</label>
                <input type = "text" formControlName="name" id="name"  class="name" class="form-control" [(ngModel)]="name" name="name"  pattern="[a-zA-Z ]*" required>
                <br>
                <span style="color:red" *ngIf="angForm.get('name').errors && (angForm.get('name').touched || angForm.get('name').dirty)">
                    <span *ngIf="angForm.get('name').errors.required">Name is required.</span>
                    <span *ngIf="angForm.get('name').errors.minlength || angForm.get('name').errors.maxlength">Name must be greater than 2 characters and less than 25 characters</span>
                    <span *ngIf="angForm.get('name').errors.pattern">Only text characters.</span>
                </span>
                <br>
                <label for="surname">Surname</label>
                <input type = "text" formControlName="surname"  id="surname"  class="surname" class="form-control" [(ngModel)]="surname" name="surname" pattern="[a-zA-Z ]*" required>
                <br>
                <span style="color:red" *ngIf="angForm.get('surname').errors && (angForm.get('surname').touched || angForm.get('surname').dirty)">
                    <span *ngIf="angForm.get('surname').errors.required">Surname is required.</span>
                    <span *ngIf="angForm.get('surname').errors.minlength || angForm.get('surname').errors.maxlength">Surname must be greater than 2 characters and less than 25 characters</span>
                    <span *ngIf="angForm.get('surname').errors.pattern">Only text characters.</span>
                </span>
            </div> 

            <div class="divleft">
                <button type="submit" (click)= "searchDonationRecipientByName()">Search</button>
            </div>
        </div>

        
   
        <div class="card" *ngIf = "showResults">
            <label> <span style="white-space: nowrap;">Donation Recipient Details </span></label>
            <br>
            <div class="divleft">
                <br>

                <label for="Name">Name</label>
                <input type = "text" formControlName="DrName" class="form-control" [(ngModel)]="donationRecipient.DrName" name="DrName" id="DrName"  required [readonly] = "this.inputDisabled">     
                <br>
            </div>

            <div class="divleft">
                <label for="Name">Surname</label>
                <input type = "text" formControlName="DrSurname" class="form-control" [(ngModel)]="donationRecipient.DrSurname" name="DrSurname" id="DrSurname"  required [readonly] = "this.inputDisabled">     
                <br>
            </div>

            <div class="divleft">
                <label for="Name">Cell Number</label>
                <input type = "text" formControlName="DrCell" class="form-control" [(ngModel)]="donationRecipient.DrCell" name="DrCell" id="DrCell"  required [readonly] = "this.inputDisabled">  
   
                <br>
            </div>

            <div class="divleft">
                <label for="Name">Email</label>
                <input type = "text" formControlName="DrEmail" class="form-control" [(ngModel)]="donationRecipient.DrEmail" name="DrEmail" id="DrEmial"  required [readonly] = "this.inputDisabled"> 
    
                <br>
            </div> 

        </div>
    
        <br><br>
        
        <div class="card" *ngIf = "showAddDon">
            <label > <span style="white-space: nowrap;">Donation Details</span></label>
            <br>
            <div class="divleft">
                <label class="subheadinglabel">Enter the donation details:</label>
            <br><br>

            <label>Status</label>
            <select required formControlName="DonationStatusID" class="form-control" [(ngModel)]="donation.DonationStatusID" name="DonationStatusID" id="DonationStatusID" >
                <option  *ngFor="let status of statuses" value="{{status.DonationStatusID}}">{{status.DSDescription}}</option>
            </select>
            <br>
            <span style="color:red" *ngIf="angForm.get('DonationStatusID').errors && (angForm.get('DonationStatusID').touched || angForm.get('DonationStatusID').dirty)">
                <span *ngIf="angForm.get('DonationStatusID').errors.required">Status is required.</span>
            </span> 
              
              <br>

            <label for="Name">Donation Date </label>
            <input type = "date" formControlName="DonDate" class="form-control" [(ngModel)]="donation.DonDate" name="DonDate" id="DonDate" required > 
            <br>
            <span style="color:red" *ngIf="angForm.get('DonDate').errors && (angForm.get('DonDate').touched || angForm.get('DonDate').dirty)">
                <span *ngIf="angForm.get('DonDate').errors.required">Date is required.</span>
             </span> 

            <br>

            <label for="Name">Donated Amount in R</label>
            <input type = "number" formControlName="DonAmount" class="form-control" [(ngModel)]="donation.DonAmount" name="DonAmount" id="DonAmount" pattern="[0-9 ]*"  required > 
            <br>
            <span style="color:red" *ngIf="angForm.get('DonAmount').errors && (angForm.get('DonAmount').touched || angForm.get('DonAmount').dirty)">
                <span *ngIf="angForm.get('DonAmount').errors.required">Amount is required.</span>
                <span *ngIf="angForm.get('DonAmount').errors.pattern">Only numbers</span>
            </span> 

            <br>

          <label for="Name">Description</label>
            <input type = "text" formControlName="DonDescription" class="form-control" [(ngModel)]="donation.DonDescription" name="DonDescription" id="DonDescription"  pattern="[a-zA-Z ]*" required > 
            <br>
            <span style="color:red" *ngIf="angForm.get('DonDescription').errors && (angForm.get('DonDescription').touched || angForm.get('DonDescription').dirty)">
                <span *ngIf="angForm.get('DonDescription').errors.required">Description is required.</span>
                <span *ngIf="angForm.get('DonDescription').errors.minlength">Description must be greater than 2 characters</span>
                <span *ngIf="angForm.get('DonDescription').errors.pattern">Only text characters.</span>
            </span>
 
            <br>

            <br><br>
            </div>

            <br>
            <div class="divleft" >
                <button type="submit" (click)="addDonation()" >Save</button>
                <button type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>



   
        <div *ngIf="showContainer" class="card">
            <div class="divleft">
                <label class="subheadinglabel" >Select container that donated products:</label>
                <br>
                <label>Container </label>
                <select required formControlName="ContainerID" class="form-control" [(ngModel)]="container.ContainerID" name="ContainerID" id="ContainerID" required >
                    <option  *ngFor="let container of containers" value="{{container.ContainerID}}">{{container.ConName}}</option>
              </select>
                <!-- <select required formControlName="ContainerID" name="ContainerID" [(ngModel)]="container.ContainerID" (ngModelChange)="ContainerSelection($event)">
                    <option *ngFor="let con of containers" [ngValue]="con">{{con.ConName}}</option>
                </select> -->

                <button type="submit" (click)="selectContainer(container.ContainerID)" >Select container</button>
                <button type="button" (click)="cancel()" >Cancel</button>
            </div>
        </div>

        <div *ngIf="showNameSearch" class="card">
            <div class="divleft"> 
                <label  class="subheadinglabel"> Products donated from Container: {{container.ConName}}</label>
                <br>
                <label for="Product">Product: </label>
                <select formControlName="ProductID" class="form-control" [(ngModel)]="product.ProductID" name="ProductID" id="ProductID" required >
                    <option  *ngFor="let product of products" value="{{product.ProductID}}">{{product.ProdName}}</option>
              </select>
                <!-- <select required formControlName="ProductID" name="ProductID" [(ngModel)]="product.ProductID" (ngModelChange)="addProduct($event)">
                    <option *ngFor="let product of products" [ngValue]="product">{{product.Prodname}}</option>
                </select> -->
                <br>
                <label>Quantity</label>
                <input type = "number" formControlName="DPQuantity" class="form-control" [(ngModel)]="donatedProduct.DPQuantity" name="DPQuantity" id="DPQuantity"  pattern="[0-9]*" required >
            </div>
            <button type="submit" (click)="addProduct(product.ProductID, donatedProduct.DPQuantity)" >Add Product</button>
            <button type="button" (click)="cancel()" >Cancel</button>
        </div> 
    
    <div *ngIf="showTable" class="card">
        
        <table title="Donated products">
            <th>Product Name </th>
            <th>Quantity</th>
            <th>Action</th>
            
            
            <tr *ngFor= "let don of donatedProducts, index as ndx" >
                <td>{{don.ProductID}} </td>
                <td>{{don.DPQuantity}}</td>
                <td><button type="submit" (click)="deleteProduct()" >Delete</button></td>
            </tr> 
        </table> 

        <button  type="submit" (click)="saveProducts()" >Save products</button>
        
    </div>
        
     </form> 

    <router-outlet></router-outlet>
 </body>


