<h1>Update Employee Details</h1>
<div class="divright">
  <label style="color:orange" onclick="window.location.href='https://ghelp.z1.web.core.windows.net/UpdateEmployee.html'">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
<br>
<div class="card"> 
    <p style="text-align: left;color: orange;"><u>Employee Details</u></p>
    <br>
    <div style="width: 100%; overflow: hidden;">
         
        <div style="width: 300px; float: left;">
              <label>Name:</label>
              <input type="text" name="name">
              <label>Cell Number:</label>
              <input type="text" name="cellno">
              <label>Work Start Date:</label>
              <input type="text" name="startdate">
         </div>
    
         <div style="margin-left: 5px;">
            <label>Employee Surname:</label>
            <input type="text" name="surname">
            <label>Employee Email:</label>
            <input type="text" name="email">
            <label>shifts Completed:</label>
            <input type="text" name="shiftscompleted">
       </div>
       
<div class="row">
    <div class="input-field col s12">
      <button class="btn-large btn-submit" type="submit">Save </button>
      <button class="btn-large btn-submit" type="submit">Cancel</button>
    </div>
   </div>