<body>
    <h1>Product Management</h1>

    <form>
        <div class="card">
            <div>
                <button style="width: 25%;" type="submit" (click)="showProduct()">Product</button><br>
                <button style="width: 25%;" type="submit" (click)="showProductCategory()">Product Category</button><br>
                
                <button style="width: 25%;" type="submit" (click)="showVat()">Vat</button><br>
            </div>
        </div>
        <br><br>
        <div>
           
            <div class="card" *ngIf="showProd">
                <div> 
                    <label style="width:100%; text-align: center;">Product</label>
                    <br>
                    <button style="width: 25%;" type="submit" (click)="gotoAddProduct()">Add Product</button>
                    <br>
                    <button style="width: 25%;" type="submit" (click)="gotoSearchProduct()">Update Product</button>
                    <br>
                    <button style="width: 25%;" type="submit" (click)="gotoSearchProduct()">Search Product</button>
                    <br>
                    <button style="width: 25%;" type="submit" (click)="gotoSearchProduct()">Remove Product</button>
                    <br>
                    <button style="width: 25%;" type="submit" (click)="gotoStockTake()">Stock Management</button><br>
                    
                </div>
            </div>
            
            <div class="card"*ngIf="showProdCat" >
            <div> 
                <label style="width:100%; text-align: center;">Product Category</label>
                <br>
                <button style="width: 25%;" type="submit" (click)="gotoAddProductCategory()">Add Product Category</button>
                <br>
                <button style="width: 25%;" type="submit" (click)="gotoSearchProductCategory()">Update Product Category</button>
                <br>
                <button style="width: 25%;" type="submit" (click)="gotoSearchProductCategory()">Search Product Category</button>
                <br>
                <button style="width: 25%;" type="submit" (click)="gotoSearchProductCategory()">Remove Product Category</button>
            </div>
        </div>

        <div class="card" *ngIf="showvat">
            <div> 
                <label style="width:100%; text-align: center;">VAT</label>
                <br>
                <button style="width: 25%;" type="submit" (click)="gotoAddVAT()">Add VAT</button>
                <br>
                <button  style="width: 25%;" type="submit" (click)="gotoUpdateVAT()">Update VAT</button>
            </div>

        </div>
        </div>
        <div style="float: left; width: 2%;" ></div>
    </form>
</body>
