<body>
    <h1>Add Province</h1>
    <br>
    <form >
        
        <div class="card" >
            <label class="subheadinglabel">Enter the new province details:</label> 
            <div class="divleft">
                <br><br>
                <label for="Name">Name</label>    
                <input type="text" class="form-control" [(ngModel)]="province.ProvName" id="ProvName" name="ProvName" required>
      
                <br><br>

            </div>

            <div class="divleft">
                <button type="submit" (click)="addProvince()" >Save</button>       
                <button type="button" (click)="Cancel()">Cancel</button>
             </div>    
            

        </div>


    </form>

<router-outlet></router-outlet>

</body>
