<body>
  <h1>Creditor Payment Details</h1>
  <form>
    <div class="card" *ngIf = "showViewAll">
      <p class="subheadinglabel">Creditor Payments:</p>

      <table>
          <tr>
              <th>Payment ID</th>
              <th>Creditor/Supplier</th>
              <th>Date</th>
              <th>Amount</th>
          </tr>


          <tr *ngFor="let payments of payments">
              <td>{{creditor.PaymentID}}</td>
              <td><input type="text" class="form-control" [(ngModel)]="creditor.SupplierID" id="SupplierID" name="SupplierID"></td>
              <td>{{creditor.CredPaymentDate}}</td>
              <td>{{creditor.CredPaymentAmount}}</td>
          
          </tr>
          
      </table> 
      <button type="submit" (click)="cancel()">Cancel</button> 
  </div>
    
    </form>
  
  </body>
  
