<body>
  <h1>Creditor Payment Details</h1>
  <form>
    <div class="card" *ngIf = "showViewAll">
      <p class="subheadinglabel">Creditor Payments:</p>

      <table class="table table-striped">  
        <thead class="thead-dark">  
          <tr>  
            <th>PaymentID</th>    
            <th>Amount R</th>  
            <th>Date</th>  
          </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let pay of allPayments | async">  
            <td>{{pay.PaymentID}}</td>  
            <td>{{pay.CredPaymentAmount}}</td>  
            <td>{{pay.CredPaymentDate}}</td>   
          </tr>  
        </tbody>  
      </table>   
      <button type="submit" (click)=gotoCreditorManagment()>Cancel</button> 
  </div>
    
    </form>
  
  </body>
  
