<body>
    <form>
        <h1>Complete Stock Take</h1>
        <div class="divright">
            <label style="color:orange" (click)="openHelp()">Help <i style="color:orange" class="tiny material-icons">help</i></label>
    </div>
            <div class = "card" >
                <div *ngIf="!showList">
                    <label class="subheadinglabel" style="width: 100%">list Of Incomplete Stock Takes In Container:</label>
                </div>
               

                <div *ngIf="showList">
                    <table>
                        <th style="width: 10%; padding: 2px"></th>
                        <th>StockTake Date</th>
                        <th>Is Completed</th>
                        <th style="width: 25%; padding: 2px"></th>

                        <tr *ngFor="let item of stocktakes, index as ndx">
                            <th>{{ndx+1}}</th>
                            <td>{{item.STakeDate | date: 'yyyy-MM-dd' }}</td>
                            <td>{{item.isCompleted}}</td>
                            <td><button style="border-radius: 10px; width: 95%;" (click)="Start(ndx)">View</button></td>

                        </tr>
                    </table>
                </div>

                    <span>No Incomplete Stock Takes In This Container</span>

                <div clss="divleft" *ngIf="showTable" >

                    <div class="divleft">
                    <label style="width: 100%">Done By: {{employee}} </label>
                    </div>
                    <div class = "divleft">
                        <label style="width: 100%">In Container: {{container.ConName}} </label>
                    </div>

                <div class = "divleft" >
                    <label style="width: 100%">On Date: {{Todaysdate | date: 'yyyy-MM-dd'}}</label>
                </div>

                <div class= "divleft" *ngIf="showMarkOff"> 
                    <label class="subheadinglabel"> Mark Off {{selectedProduct.ProdName}}</label><br>
                    <Label>Quantity: {{MOQuantity}} </Label>
                    <label>Mark Off Reason:</label><select [ngModelOptions]="{standalone: true}" required sname="SelectReason" (ngModelChange)="setReason($event)">
                        <option  *ngFor="let reason of reasons" [ngValue]="reason" >{{reason.MODescription}}</option>
                       </select>
                       <br>
                       <div *ngIf="showSaveError">
                        <span [ngModelOptions]="{standalone: true}" >{{response}}</span>
                    </div>
                       <button type="submit" (click)="Save()">Save</button>
                     
                </div>
                    
                <table [ngModelOptions]="{standalone: true} " style="width: 100%; padding: 0px">
                        <th style="width: 30%;padding: 0px">Product Name</th>
                        <th style="width: 20%;padding: 0px">Quantity</th>
                        <th style="width: 20%; padding: 0px">Stock Count</th>
                        <th style="width: 20%; padding: 0px">Marked Off</th>
                        <th style="width: 10%; padding: 0px"></th>
        
                    <tr *ngFor="let item of list; index as ndx">
                        <td>{{item.ProdName}}</td>
                        <td>{{item.CPQuantity}}</td>
                        <td>{{item.STCount}}</td>
                        <td>{{item.MoQuantity}}</td>
                        <td><button style="border-radius: 10px; width: 95%;" (click)="markOff(ndx)">MarkOff</button></td>
        
                    </tr>
        
                </table>
                <div class="divleft">
                    <button type="submit" (click)="Complete()">Complete</button>
                    <button type="submit" (click)="Cancel()">Cancel</button>
                </div>
                </div>
                </div>
           
        

    
