<body>
    <h1>Supplier Details</h1>
    <div class="divright">
      <label style="color:orange">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form>
        
        <div class="card" id="creditor">
            <table style="width:100%">
              <thead>
              <tr>
                <th>Product</th>
                <th>Supplier</th>
                <th>Cell Number</th>
                <th>Email</th>
                <th>Street No</th>
                <th>Street</th>
                <th>Postal Code</th>
                <th>Suburb</th>
              </tr>
              </thead>
            </table>
  
            <div class="divleft">
                <button routerLink="/process-order" type="submit" >Process Order</button><br>
                <button routerLink="/place-supplier-order" type="submit" >Cancel</button><br>
          </div>
        <br><br>
        </div>
    
    </form>
  
  </body>
