<body>
  <h1>Add Product</h1>
  <form>
    <div class="card" > 
      <p class="subheadinglabel">Select An Add Option:</p>
      <div class="divleft">
          <button type="submit" (click)="AddToSystem()">Add Product to System</button>
          <button type="submit" (click)="LinkToContainer()">Link Product to Container</button>
      </div>
  </div>
  </form>
    <form *ngIf= "addToSystem">
        <div class="card">
            <div class="divleft">
                <label class="subheadinglabel">Enter Product Details:</label>
                <br>
                <label for="ProductCategoryID">Product Category:</label>
                  <select  required>
                    <option value="0">--Select--</option>  
                    <option [value]="type" *ngFor="let category of categories">{{category.PCatName}}</option>
                  </select>
                <br>
                <label for="ProdName">Name:</label><input type="text" class="form-control" [(ngModel)]="product.ProdName" id="ProdName" name="ProdName" required>
                <br>
                <label for="ProdDesciption">Description:</label><input type="text" class="form-control" [(ngModel)]="product.ProdDesciption" id="ProdDesciption" name="ProdDesciption" required>
                <br>
                <label for="ProdBarcode">Barcode:</label><input type="number" class="form-control" [(ngModel)]="product.ProdBarcode" id="ProdBarcode" name="ProdBarcode" required>
                <br>
                <label for="ProdReLevel">Reorder level:</label><input type="number" class="form-control" [(ngModel)]="product.ProdReLevel" id="ProdReLevel" name="ProdReLevel" required>
                <br>
                <label for="CPriceR">Cost Price(R):</label><input type="number" class="form-control" [(ngModel)]="price.CPriceR" id="CPriceR" name="CPriceR" required>
                <br>
                <label for="UPriceR">Unit Price(R):</label><input type="number" class="form-control" [(ngModel)]="price.UPriceR" id="UPriceR" name="UPriceR" required>
                <br>
                <label for="PriceStartDate">Price Start Date:</label> <input type="date" class="form-control" [(ngModel)]="price.PriceStartDate" id="PriceStartDate" name="PriceStartDate" required>
                <br>
                <button type="submit" (click)="Save()">Save</button>
                <button type="submit" (click)="Cancel()">Cancel</button>
            </div>
        </div>
    </form>

    <form *ngIf= "linkToContainer">
      <div class="card" > 
        <p class="subheadinglabel">Select An Add Option:</p>
        <div class="divleft">
            <button type="submit" (click)="AddToSystem()">Add Product to System</button>
            <button type="submit" (click)="LinkToContainer()">Link Product to Container</button>
        </div>
    </div>
    </form>
</body>

