<body>
    <h1>Create Employee Profile</h1>
    <form [formGroup] = 'empForm'>

      <div *ngIf = "showSearch" class="card" >
            
        <div  class="divleft" >
            <br>
            <label class="subheadinglabel" >Enter Employee Name and Surname To search:</label>
            <br>
            <label for="name">Name:       </label>
            <input class="searchinput" formControlName="name" class="form-control" [(ngModel)]="name" type="text" id="name" name="name" pattern="[a-zA-Z ]*" required>
            <br>
            <span style="color:red" *ngIf="empForm.get('name').errors && (empForm.get('name').touched || empForm.get('name').dirty)">
              <span *ngIf="empForm.get('name').errors.required">Name is required.</span>
              <span *ngIf="empForm.get('name').errors.minlength || empForm.get('name').errors.maxlength">Name must be greater that 2 characters and less than 25 characters</span>
              <span *ngIf="empForm.get('name').errors.pattern">Only text characters.</span>
            </span>
            <br>

            <label for="name">Surname:       </label>
            <input class="searchinput" formControlName="surname" class="form-control" [(ngModel)]="surname" type="text" id="surname" name="surname" pattern="[a-zA-Z ]*" required>
            <br>
            <span style="color:red" *ngIf="empForm.get('surname').errors && (empForm.get('surname').touched || empForm.get('surname').dirty)">
              <span *ngIf="empForm.get('surname').errors.required">Surname is required.</span>
              <span *ngIf="empForm.get('surname').errors.minlength || empForm.get('surname').errors.maxlength">Surname must be greater that 2 characters and less than 25 characters</span>
              <span *ngIf="empForm.get('surname').errors.pattern">Only text characters.</span>
            </span>
            <br>>

            <div class="divleft">
                <button type="submit" (click) ="searchEmployee()">Search</button>
                <button type="submit" (click)="gotoEmployeeManagement()">Cancel</button>
            </div>
          </div>
      </div>
    


     

        
    <br><br>
        <div *ngIf = "showResults" class="card">
            <br>
            <label class="subheadinglabel">Employee General Details:</label>
            <br>   
            <div class="divleft" >
                <label for="UserName">Name:       </label>
                <input class="searchinput" formControlName="UserName" [(ngModel)]="user.UserName"  type="text" id="UserName" name="UserName" required [readonly] = "this.inputEnabled">
                
            </div>

            <div class="divleft" >
                <label for="UserSurname">Surname:   </label>
                <input class="searchinput" formControlName="UserSurname" [(ngModel)]="user.UserSurname" type="text" id="UserSurname" name="UserSurname" required [readonly] = "this.inputEnabled">
            </div>
    
            
            <div class="divleft" >
                <label for="UserCell">Cell Number:  </label>
                <input class="searchinput" formControlName="UserCell" [(ngModel)]="user.UserCell"  type="text" id="UserCell" name="UserCell" required [readonly] = "this.inputEnabled">
            </div>

            <div class="divleft" >
                <label for="UserEmail">Email:      </label>
                <input class="searchinput" formControlName="UserEmail" [(ngModel)]="user.UserEmail"  type="text" id="UserEmail" name="UserEmail"required [readonly] = "this.inputEnabled">
            </div>
    
        <br>
      </div>
        

    <br>
    <div *ngIf = "showNewEmp" class="card">
      <br>
      <label class="subheadinglabel" >Enter Employee Profile Details</label>
      <br>
      <div class="divleft"  > 
        <label for="EmpStartDate">Work Start Date:       </label>
        <input type="date" formControlName="empStartDate" [(ngModel)]="employee.EmpStartDate " id="EmpStartDate" name="EmpStartDate" required>
        <span style="color:red" *ngIf="empForm.get('empStartDate').errors && (empForm.get('empStartDate').touched || empForm.get('empStartDate').dirty)">
          <span *ngIf="empForm.get('empStartDate').errors.required">Employee Start date is required.</span>
    </span>
      </div>

      <!-- <div class="divleft"  *ngIf = "showText"> 
        <label for="EmpStartDate">Work Start Date:       </label>
        <input type="text" [(ngModel)]="employee.EmpStartDate " id="EmpStartDate" name="EmpStartDate" required>
      </div> -->

      <div class="divleft">
        <label for="EmpShiftsCompleted">Shifts Completed:      </label>
        <input type="number" formControlName="empShiftsCompleted" [(ngModel)]="employee.EmpShiftsCompleted" id="EmpShiftsCompleted" name="EmpShiftsCompleted"  required>
        <span style="color:red" *ngIf="empForm.get('empShiftsCompleted').errors && (empForm.get('empShiftsCompleted').touched || empForm.get('empShiftsCompleted').dirty)">
              <span *ngIf="empForm.get('empShiftsCompleted').errors.required">Number of shifts completed is required.</span>
        </span>
      </div>

      <br>
      <div class="divleft"  >
         <button type="submit"  (click)="createEmployee()">Save Profile</button>
         <button type="submit" (click)="cancel()">Cancel</button>
      </div>
    </div>
    </form>
  </body>
    


