<body>
    <h1>Place Supplier Order</h1>
    <br>
    <form>
            <div class="subheadinglabel" id="creditor">Backlog Products:</div>
            <br>


            <table class="table table-striped">  
              <thead class="thead-dark">  
                <tr>  
                  <th>Product</th>  
                  <th>Quantity Needed</th> 
                  <th>Action</th> 
                </tr>  
              </thead>  
              <tbody>  
                <tr *ngFor="let product of allProducts | async">  
                  <td>{{product.ProdName}}</td>
                  <td>{{product.QauntityToOrder}}</td>
                  <td><button routerLink="/supplier-detail" type="submit" >Order</button><br></td>
                </tr>  
              </tbody>
            </table>  
  
        
  <div class="divleft">
    <button routerLink="/supplier-order-management" type="submit" >Cancel</button><br>
          </div>
        <br>
      
  
    
    </form>
  
  </body>
  
