<body>
    <h1>Place Supplier Order</h1>
    <br>
    <form>
      <div class="card" *ngIf="showButton"> <button style="width: 50%" (click)="searchBacklog()">Search Container Backlog Products</button></div>
      <div class="card" *ngIf="showBacklog">
            <div class="subheadinglabel" id="backlogprods">Backlog Products:</div>
            <br>


            <table class="table table-striped">  
              <thead class="thead-dark">  
                <tr>  
                  <th>Product</th>  
                  <th>Quantity Needed</th> 
                  <th>Add to Order</th> 
                </tr>  
              </thead>  
              <tbody>  
                <tr *ngFor="let product of allProducts | async">  
                  <td>{{product.ProdName}}</td>
                  <td>{{product.QuantityToOrder}}</td>
                  <td><button type="submit" (click) = "addProduct()" >Add +</button><br></td>
                </tr>  
              </tbody>
            </table>  
  
        
  <div class="divleft">
    <button (click) = "viewOrders()" >View Supplier Orders</button>
    <button routerLink="/supplier-order-management" type="submit" >Cancel</button><br>
          </div>
      </div>
        <br>

        <div class="card" *ngIf="showOrders">

        </div>

        <div class="card" *ngIf="showSupOrder">

        </div>
      
  
    
    </form>
  
  </body>
  
