<body>
    <h1>Place Supplier Order</h1>
    <br>
    <form>
      <div class="card" *ngIf="showButton"> <button style="width: 50%" (click)="searchBacklog()">Search Container Backlog Products</button></div>
      <div class="card" *ngIf="showBacklog">
            <div class="subheadinglabel" id="backlogprods">Backlog Products:</div>
            <br>
            <span style="color:orangered" *ngIf="showError">
              {{errorMessage}}</span>

            <table class="table table-striped">  
              <thead class="thead-dark">  
                <tr>  
                  <th>Product</th>  
                  <th>Quantity Needed</th> 
                  <th>Add to Order</th> 
                </tr>  
              </thead>  
              <tbody>  
                <tr *ngFor="let product of products; index as ndx; trackBy:trackByndx;">  
                  <td>{{product.ProdName}}</td>
                  <td><input style="width: 70%" type = "number"  name="a{{ndx}}" [(ngModel)] ="products[ndx].QuantityToOrder"></td>
                  
                  <td><button type="submit" (click) = "addProduct(ndx)">Add</button><br></td>
                </tr>  
              </tbody>
            </table>  
  
        
          <div class="divleft">
            <button style="width:30%" (click) = "viewOrders()" >View Supplier Orders</button>
            <button routerLink="/supplier-order-management" type="submit" >Cancel</button><br>
          </div>

      </div>
        <br>

        <div class="card" *ngIf="showOrders">
          <table [ngModelOptions]="{standalone: true}" style="width: 100%; padding: 0px">
            <th style="padding: 0px">Date</th>
            <th style="padding: 0px">Supplier</th>
            <th style=" padding: 0px">Email</th>
            <th style=" width: 20%; padding: 0px"></th>
        
        <tr *ngFor="let item of supplierOrders; index as ndx">
            <td>{{item.SODate | date: 'yyyy-MM-dd'}}</td>
            <td>{{item.SupName}}</td>
            <td>{{item.SupEmail}}</td>
            <td><button style="border-radius: 10px; width: 95%;" (click)="View(ndx)">View</button></td> 
        
        </tr>
        
        </table>
        </div>

        <div class="card" *ngIf="showSupOrder">
          <label class="subheadinglabel">Supplier Order Details </label>
  <div class="left">
    <div style="float:left; width: 50%">
      <label style="width: 100%">Date: {{selectedOrder.SODate | date:'yyyy-MM-dd'}}</label>
    </div>
    <div style="float:left; width: 50%">
      <label style="width: 100%">Status {{selectedOrder.Status}}</label>
    </div>
  </div>
 

  <table [ngModelOptions]="{standalone: true}" style="width: 100%; padding: 0px">
   <th style="padding: 0px">Product</th>
   <th style="width: 50%; padding: 0px">Description</th>
   <th style="padding: 0px">Ordered</th>

<tr *ngFor="let item of orderproducts; index as ndx">
   <td>{{item.ProdName}}</td>
   <td>{{item.ProdDescription}}</td>
   <td>{{item.SOPQuantityOrdered}}</td>

</tr>

</table>
<br>
<div class= "divleft">
  <button type="submit" style="width:30%" (click)="PlaceOrder()">Place Order</button>
  <button type="submit" style="width:30%" (click)="CancelOrder()">Cancel Order</button>
  <button type="submit"style="width:30%" (click)="Back()">Back To List</button>
</div>

        </div>
      
  
    
    </form>
  
  </body>
  
