<!DOCTYPE html>
<body>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <h1>Make Payment</h1>
  <div class="divright">
    <label style="color:orange">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
  <form>
      
      <div class="card" id="payment">
        <div class="subheadinglabel" id="payment">Please select payment method:</div>
        <br>
        <button type="submit">Cash 💵</button>
          <br/>
          <button type="submit">Card 💳</button>
          
      </div>
      <br><br>

  
  </form>

</body>

