<body>
    <h1 class="menuheading">Customer Order Management</h1>
    <div class="divright">
        <label style="color:orange" (click)="openHelp()">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form>

        <div class="card">
            <button  type="submit" style="width: 25%;" (click) = "gotoPlaceOrder()" >Place Order</button>
            <br>
            <button type="submit" style="width: 25%;" (click) = "gotoSearchOrder()">Collect Order</button>
            <br>
            <button  type="submit" style="width: 25%;" (click) = "gotoSearchOrder()">Search Order</button>
            <br>
            <button  type="submit" style="width: 25%;" (click) = "gotoSearchOrder()">Cancel Order</button>
            <br>
            <button type="submit" style="width: 25%;" (click) = "gotoSearchOrder()">View Fulfilled Orders for Notification</button>
        </div>
        
    </form>
</body>


