<body>
    <h1 class="menuheading">Customer Order Management</h1>
    <form>

        <br>
        <div class="card">
            <button  type="submit" style="width: 25%;" (click) = "gotoPlaceOrder()" >Place Order</button>
            <br>
            <button type="submit" style="width: 25%;" (click) = "gotoSearchOrder()">Collect Order</button>
            <br>
            <button  type="submit" style="width: 25%;" (click) = "gotoSearchOrder()">Search Order</button>
            <br>
            <button  type="submit" style="width: 25%;" (click) = "gotoSearchOrder()">Cancel Order</button>
            <br>
            <button type="submit" (click) = "gotoSearchOrder()">View Fulfilled Orders for Notification</button>
            <button type="submit" style="width: 25%;" (click) = "gotoSendNotification()">Send Order Arrival Notification</button>
        </div>
        
    </form>
</body>


