<body>
    <h1 class="menuheading">Administration</h1>
    <div class="divright">
        <label style="color:orange" (click)="openHelp()">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form>
        <div class="card" >
            <br><br>
            <button style="width: 30%;" type="submit" (click) ="gotoDashboard()" >View Dashboard</button>
            <br>
            <button style="width: 30%;" type="submit" (click)="gotoUserAccess()" >User Type Access Management</button>
            <br>
            <!--<button type="submit"  (click)="gotoUserType()" >User Type Management</button>
            <br>
            <button type="submit"  (click)="gotoStatusManagement()" >Status Management</button>
            <br><br>-->
        </div>
        
    </form>
</body>
