<body>
    <h1 class="menuheading">Administration</h1>
    <form>
        
        <br><br>
        <div class="card" >
            <br><br>
            <button type="submit" (click) ="gotoDashboard()" >View Dashboard</button>
            <br>
            <button  type="submit" (click)="gotoUserAccess()" >View User Access</button>
            <br>
            <button type="submit"  (click)="gotoUserType()" >User Type Management</button>
            <br>
            <button type="submit"  (click)="gotoStatusManagement()" >Status Management</button>
            <br><br>
        </div>
        
    </form>
</body>
