<body>
    <h1>Donation Management</h1>

    <form>
        <div class="card">
            <div > 
                <label style="display: inline;">Donation Recipient</label>
                <br>
                <button type="submit" (click)="gotoAddDonationRecipient()">Add Donation Recipient</button>
                <button type="submit" (click)="gotoSearchDonationRecipient()">Update Donation Recipient</button>
                <button type="submit" (click)="gotoSearchDonationRecipient()">Search Donation Recipient</button>
                <button type="submit" (click)="gotoSearchDonationRecipient()">Delete Donation Recipient</button>
            </div>
        </div>
        <br><br>
        <div class="card">
            <div > 
                <label>Donation</label>
                <br>
                <button type="submit" >Create Donation</button>
                <button type="submit" >Update Donation</button>
                <button type="submit" >Search Donation</button>
            </div>
        </div>
    </form>


</body>


