<body>
    <h1 class="menuheading">Supplier Management</h1>
    <div class="divright">
        <label style="color:orange">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form>
        <div class="card">
            <button style="width: 25%;" type="submit" (click)="gotoAddSupplier()">Add Supplier </button>
            <br>
            <button style="width: 25%;" type="submit" (click)="gotoViewSupplier()">Update Supplier</button>
            <br>
            <button style="width: 25%;" type="submit" (click)="gotoViewSupplier()">Search Supplier</button>
            <br>
            <button style="width: 25%;" type="submit" (click)="gotoViewSupplier()">Delete Supplier</button>
        </div>
        
    </form>
</body>


