<body>
    <h1 class="menuheading">Supplier Management</h1>
    <form>

        <br><br>
        <div class="card">
            <button  type="submit" (click)="gotoAddSupplier()">Add Supplier </button>
            <br><br>
            <button  type="submit" (click)="gotoViewSupplier()">Update Supplier</button>
            <br><br>
            <button  type="submit" (click)="gotoViewSupplier()">Search Supplier</button>
            <br><br>
            <button type="submit" (click)="gotoViewSupplier()">Delete Supplier</button>
        </div>
        
    </form>
</body>


