<body>
  <h1>Location Details</h1>
  <form #form='ngForm' class="mb-4" autocomplete="off" >
  <div class="card" *ngIf = "showSearch">
          <br>
      <div class="divleft"  >
          <label class="subheadinglabel" >Enter Location Name to search </label>
      <br>
          <label for="name">Location Name:       </label>
          <input class="searchinput" class="form-control" [(ngModel)]="name" type="text" id="name" name="name" required>
          <small style="color: coral;">required</small>
      </div>
      <br>

      <div class="divleft">
          <button type="submit"   (click)="searchLocation()"  [disabled]="form.invalid">Search</button>
          <button type="submit"   (click)="gotoGPSManagement()">Cancel</button>
      </div>

  </div>
  <br>
  <div class="card" *ngIf = "showResults">
      <br>
      <div class="divleft" >
          <label class="subheadinglabel"> Searched Location Details:</label>
      </div>
  
      <div class="divleft" >
          <label for="LocName">Location Name:       </label>
          <input type="text" class="form-control" [(ngModel)]="location.LocName" id="LocName" name="LocName" required [readonly] = "this.inputEnabled">
      </div>


      <br>
      <div class="divleft" >
          <label for="AreaID">Area:  </label>
          <input type="text" class="form-control" [(ngModel)]="location.AreaID" id="AreaID" name="AreaID" required [readonly] = "this.inputEnabled">
      </div>

      <br>
      <div class="divleft"  >
          <label for="ContainerID">Container:     </label>
          <input type="text" class="form-control" [(ngModel)]="location.ContainerID" id="ContainerID" name="ContainerID" required [readonly] = "this.inputEnabled">
      </div>

      <br>
      <div class="divleft" >
          <label for="LocationStatusID">Status:: </label>
          <input type="text" class="form-control" [(ngModel)]="location.LocationStatusID" id="LocationStatusID" name="LocationStatusID" required [readonly] = "this.inputEnabled"> 
      </div>
      <br><br>

      <div class="divleft" *ngIf="showButtons">
          <button type="submit"  (click)="gotoGPSManagement()" >Return</button>
       </div>

       <div class="divleft" *ngIf="showSave" >
       <button type="submit" (click)="updateLocation()">Save</button>
       <button type="submit"  (click)="gotoGPSManagement()">Cancel</button>
      </div>
      
  </div>
  <br>
  </form>
</body>





