<body>
    <h1>Search Product Category</h1>
    <div class="divright">
        <label style="color:orange" onclick="window.location.href='https://ghelp.z1.web.core.windows.net/SearchProductCategory.html'">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form>
        <div class="card" *ngIf= "showOptions"> 
            <p class="subheadinglabel">Search Product Category By:</p>
            <div class="divleft">
                <button type="submit" (click)="All()">All Product Category</button>
                <button type="submit" (click)="Input()">Input Criteria</button>
            </div>
        </div>
    </form>

    <form>
        <div class="card" *ngIf= "showAll"> 
            <p class="subheadinglabel">List of all the Product Categories:</p>

            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>


                <tr *ngFor="let category of allCategories | async">
                    <td>{{category.PCatName}}</td>
                    <td>{{category.PCatDescription}}</td>
                </tr>
                
            </table> 
            <button type="submit" (click)="Cancel()">Cancel</button> 
        </div>
    
    </form>
   <form [formGroup]="pcatForm">
        <div class="card" *ngIf= "showSearch"> 
            <p class="subheadinglabel">Enter Product Category Name To Search:</p>

            <div class="divleft">
                <label for="name">Name:</label>
                <input class="searchinput" formControlName="name" class="form-control" [(ngModel)]="name" type="text" id="name" name="name" pattern="[a-zA-Z ]*" required>
                <br>
                <span style="color:red" *ngIf="pcatForm.get('name').errors && (pcatForm.get('name').touched || pcatForm.get('name').dirty)">
                    <span *ngIf="pcatForm.get('name').errors.required">Name is required.</span>
                    <span *ngIf="pcatForm.get('name').errors.minlength || pcatForm.get('name').errors.maxlength">Name must be greater than 2 characters and less than 25 characters</span>
                    <span *ngIf="pcatForm.get('name').errors.pattern">Only text characters.</span>
                </span>
                <br>
            </div>
        
            <div class="divleft">
                <button type="submit" (click)="Search()">Search</button>
                <button type="submit" (click)="Cancel()">Cancel</button>

                <div *ngIf="categoryNull" class ="divleft">
                    <label style="color: red; font-size: 13px; width :200px">Please enter product category name.</label>
                </div>
            </div>
        </div>
    </form>
    <br><br>
    <form [formGroup]="pcatForm">
        <div class="card" *ngIf = "showResults">
            <div class="divleft">
                <label class="subheadinglabel">Searched Product Category Details:</label>
                <br>
                <label for="PCatName">Name:</label><input type="text" formControlName="PCatName" class="form-control" [(ngModel)]="productCategory.PCatName"  id="PCatName"  name ="PCatName" pattern="[a-zA-Z ]*" required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="pcatForm.get('PCatName').errors && (pcatForm.get('PCatName').touched || pcatForm.get('PCatName').dirty)">
                    <span *ngIf="pcatForm.get('PCatName').errors.required">Name is required.</span>
                    <span *ngIf="pcatForm.get('PCatName').errors.minlength || pcatForm.get('PCatName').errors.maxlength">Name must be greater than 2 characters and less than 25 characters</span>
                    <span *ngIf="pcatForm.get('PCatName').errors.pattern">Only text characters.</span>
                </span>
                <br>
                <label for="PCatDescription">Description:</label><input type="text" formControlName="PCatDescription" class="form-control" [(ngModel)]="productCategory.PCatDescription"  id="PCatDescription" name="PCatDescription" pattern="[a-zA-Z ]*" required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="pcatForm.get('PCatDescription').errors && (pcatForm.get('PCatDescription').touched || pcatForm.get('PCatDescription').dirty)">
                    <span *ngIf="pcatForm.get('PCatDescription').errors.required">Description is required.</span>
                    <span *ngIf="pcatForm.get('PCatDescription').errors.minlength">Description must be greater than 2 characters</span>
                    <span *ngIf="pcatForm.get('PCatDescription').errors.pattern">Only text characters.</span>
                </span> 
            </div>
        
            <div class="divleft" *ngIf="showButtons">
                 <button type="submit" (click)="Update()"  >Update</button>
                <button type="submit" (click)="Delete()" > Delete</button>
            </div>

            <div class="divleft" *ngIf="showSaves">
                 <button type="submit" (click)="Save()" >Save</button>
                 <button type="submit" (click)="cancel()" >Cancel</button>
            </div>
        </div>
    </form>
</body>

