<body>
    <h1 class="menuheading">Customer Management</h1>
    <form>
        
        <br><br>
        <div class="card" >
            <br><br>
            <button type="submit" (click) ="gotoAddCustomer()" >Add Customer</button>
            <br>
            <button  type="submit" (click)="gotoViewCustomer()" >Update Customer</button>
            <br>
            <button type="submit"  (click)="gotoViewCustomer()" >Search Customer</button>
            <br>
            <button type="submit"  (click)="gotoViewCustomer()" >Delete Customer</button>
            <br><br>
        </div>
        
    </form>
</body>

