<body>
    <h1 class="menuheading">Customer Management</h1>
    <div class="divright">
        <label style="color:orange">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form>
        <div class="card" >
            <button type="submit" style="width: 25%;" (click) ="gotoAddCustomer()" >Add Customer</button>
            <br>
            <button  type="submit" style="width: 25%;" (click)="gotoViewCustomer()" >Update Customer</button>
            <br>
            <button type="submit"style="width: 25%;"  (click)="gotoViewCustomer()" >Search Customer</button>
            <br>
            <button type="submit" style="width: 25%;" (click)="gotoViewCustomer()" >Delete Customer</button>
<br>
        </div>

    </form>
</body>

