<body>
  <h1>Search Sale</h1>
  <div class="divright">
    <label style="color:orange" onclick="window.location.href='https://ghelp.z1.web.core.windows.net/SearchSales.html'">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
  <form [formGroup]="searchSaleForm">
      <div *ngIf="showcriteria"class="card" style="padding: 2px 2px;" >
  
            <div class="divleft">
                <label class="subheadinglabel">Select Search Criteria</label><br>
            

              <mat-radio-group  aria-label="Select Option To View">
              <mat-radio-button  value = 1 (click)="searchAllSales()" >All Sales</mat-radio-button>
              <mat-radio-button value = 2 (click)="selectedDate()" >By Date</mat-radio-button>
              </mat-radio-group>
              <br>
              <button type="submit" routerLink="/make-sale">Cancel</button>
            </div>
      </div> 
        <div *ngIf="showOptions" class="card">
          <div  class="divleft" *ngIf = "showProduct">
              <label class="subheadinglabel">Select Search Details:</label><br>
              <div class="divleft" >
                  <label for="Product">Product: </label>
                   <select required name="prodSelection" formControlName="prodSelection" [(ngModel)]="prodSelection" (ngModelChange)="addProduct($event)">
                       <option *ngFor="let product of productsWithPrice" [ngValue]="product">{{product.Prodname}}</option>
                   </select>
                   <br>
                   <div *ngIf="prodNotSelected" class ="diveleft">
                    <label style="color: red; font-size: 13px; width :200px">Select a product</label>
                </div>
                   <br>
                <button type="submit" (click)="searchByProduct()">Search</button>
                <button (click)=" gotoSalesManagement()">Cancel</button>
              </div>
               
            </div>
              
            <div class="divleft" *ngIf="showDate" >
              <label class="subheadinglabel">Enter Date:</label>
              <br>
                  <label for="date">Date:      </label>
                  <input  [(ngModel)]="date" type="date" id="date" formControlName="date" name="date" required placeholder="yyyy-MM-dd">
                  <br>
                <span style="color:red" *ngIf="searchSaleForm.get('date').errors && (searchSaleForm.get('date').touched || searchSaleForm.get('date').dirty)">
                  <span *ngIf="searchSaleForm.get('date').errors.required">Date is required.</span>
              </span>
              <span class="divleft" *ngIf="error" style="color:red">
                  Please enter a date.
              </span>
              <br>
                  <button type="submit" (click)="searchByDate()">Search</button>
                  <button routerLink="/make-sale">Cancel</button>
             </div>
  
            <div class="divleft" *ngIf="showBarcode" >
              <label class="subheadinglabel">Enter Product Barcode:</label>
              <br>
              <label for="ProdBarcode">Barcode:</label>
              <input  [(ngModel)]="ProdBarcode" type="number" formControlName="ProdBarcode" id="ProdBarcode" name="ProdBarcode" pattern="[0-9 ]*" required>
              <br>
                <span style="color:red" *ngIf="searchSaleForm.get('ProdBarcode').errors && (searchSaleForm.get('ProdBarcode').touched || searchSaleForm.get('ProdBarcode').dirty)">
                  <span *ngIf="searchSaleForm.get('ProdBarcode').errors.required">Barcode is required.</span>
                  <span *ngIf="searchSaleForm.get('ProdBarcode').errors.minlength || searchSaleForm.get('ProdBarcode').errors.maxlength">Barcode must be greater than 5 numbers and less than 50 numbers.</span>
                  <span *ngIf="searchSaleForm.get('ProdBarcode').errors.pattern">Only numbers allowed.</span>
              </span>
                <br>
              <button type="submit" (click)="searchByBarcode()">Search</button>
              <button (click)=" gotoSalesManagement()">Cancel</button>
            </div>
           
          
        </div> 

        <div *ngIf="showListSearchByproduct" class="card">
          <div class="divleft">
            <br>  <label class="subheadinglabel" >Sales By Product:</label><br>
            <table>   
           
                <tr>
                    <th>Product ID</th>
                    <th>Sale Date</th>
                    <th>Cashier</th>
                    
                    
                </tr>
                <tr *ngFor="let item of searchedSales; index as ndx;">
                    <td>{{item.Product_Sale.ProductID}}</td>
                    <td>{{item.SaleDate}}</td>
                    <td>{{item.User.UserName}}</td>
                  

                </tr>
            </table>
          </div>
        </div>
  
        <div *ngIf="showListSearchByBarcode" class="card">
          <div class="divleft">
            <br>  <label class="subheadinglabel" >Sales By Barcode:</label><br>
            <table>   
           
                <tr>
                    <th>Product Barcode</th>
                    <th>Sale Date</th>
                    <th>Cashier</th>
                    
                    
                </tr>
                <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                  

                </tr>
            </table>
          </div>
        </div>
       
        <!--search all-->
        <div *ngIf="showListAllSales" class="card">
          <div class="divleft">
            <br>  <label class="subheadinglabel" >List of All Sales:</label><br>
            <table>   
           
                <tr>
                    <th>Sale ID</th>
                    <th>Sale Date</th>
                    <th>Action</th>
                    
                    
                </tr>
                <tr *ngFor="let item of saleList; index as i;">
                    <td>{{item.SaleID}}</td>
                    <td>{{item.SaleDate}}</td>
                    <td><button  style="border-radius: 10px; width: 90%;" (click)="view(item.SaleID)">View</button></td>
                   
                  

                </tr>
            </table>
          </div>
        </div>

        <!--View sale-->
        <div class="card" *ngIf="showSale">
          <div  class="divleft">
           <label class="subheadinglabel" >Sale Details:</label>
           <br>
           <label style="width: 200px">Date: {{saleDate | date: 'yyyy-MM-dd'}}</label>
           <!--<label style="width: 300px">Cashier: {{user.UserName}} {{user.UserSurname}}</label>-->

           <table>
             <tr>
               <th>Product</th>
               <th>Quantity</th>
               <th>Price</th>
               <th>Subtotal</th>
             </tr>

             <tr *ngFor="let item of saleProducts, index as ndx">
              <td>{{item.Prodname}}</td>
              <td>{{item.Quantity}}</td>
              <td>R{{item.Price}}</td>
              <td>R{{item.Subtotal}}</td>
             </tr>

             
             <tr >
                   
               <th></th>
               <th></th>
               <th>Subtotal (Exc VAT):</th>
               <th>R{{saleDetails.TotalExcVat}}</th>
           </tr>

           <tr>
               
               
               <th></th>
               <th></th>
               <th>VAT:</th>
               <th>{{saleDetails.Vat}}</th>
           </tr>
       
           <tr>
               
               <th></th>
               <th></th>
               <th>TOTAL:</th>
               <th>R{{saleDetails.TotalIncVat}}</th>
           </tr>

           </table>
          </div>

        </div>

       
        <!--Search by date-->
          <div *ngIf="showList" class="card">
              <div class="divleft">
                  <br>  <label class="subheadinglabel" >Sales:</label><br>
                  <table>   
                 
                      <tr>
                          <th>Sale ID</th>
                          <th>Sale Date</th>
                          <th>Cashier</th>
                         <!-- <th></th>-->
                          
                      </tr>
                      <tr *ngFor="let item of searchedSales, index as ndx">
                          <td>{{item.SaleID}}</td>
                          <td>{{item.SaleDate}}</td>
                          <td>{{item.UserName}}</td>
                         <!-- <td><button style="height: 30px;"class="btntable" (click)="view(item.SaleID)">View</button></td>-->
  
                      </tr>
                  </table>
              </div>
              <br><br>
           </div>

           
  
     <!--      <div class="card" *ngIf="showSale" >
              <div class="divleft" >
                  <label class="subheadinglabel" >Sale Details </label>
              </div>  
                  
            <div class="divleft">
              
  
              <div class="divleft" style="float:left; width:50%;">
              <label class="displaylabel" for="saleDate" style="width:100px">Date:      </label>
                <label  id="saleDate" name="saleDate">{{sale}}</label>
              </div>
       
            </div>
          
            <table>    
              <tr>
                  <th>Method</th>
                  <th>Amount</th>
                  
              </tr>
              <tr *ngFor="let item of payments, index as ndx">
                  <td>{{item.paymentMethod}}</td>
                   <td>{{item.paymount}}</td>
                  <td><button class="btntable" style="height: 30px;" (click) ="remove(ndx)">X</button></td>
              </tr>
            </table>
  
          </div>   
      
  
      <br>-->
      <!--Code taken from old repo. Not sure if its supposed to be here-->
  <!--  <div class="card" >
              <table>    
                  <tr>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Subtotal</th>
                      <th></th>
                  </tr>
                  <tr *ngFor="let item of saleProducts, index as ndx">
                      <td>{{item.Prodname}}</td>
                       <td>{{item.Quantity}}</td>
                       <td>R{{item.Price}}</td>
                      <td>R{{item.Subtotal}}</td>
                      <td><button class="btntable" style="height: 30px;" (click) ="remove(ndx)">X</button></td>
                  </tr>
  
                  <tr >
                      
                      <th></th>
                      <th></th>
                      <th>Subtotal (Exc VAT):</th>
                     <th>R{{calculatedValues.TotalExcVat}}</th>
                  </tr>
  
                  <tr>
                      
                      
                      <th></th>
                      <th></th>
                      <th>VAT:</th>
                    <th>{{calculatedValues.Vat}}</th>
                  </tr>
              
                  <tr>
                      
                      <th></th>
                      <th></th>
                      <th>TOTAL:</th>
                      <th>R{{calculatedValues.TotalExcVat}}</th>
                  </tr>
              </table>
  
          <div class="divleft">
          <button  type="submit" (click)="showSearchedOrdersList()">Back</button>
          </div>  
      </div>-->
  </form>
  
</body>
  
