<body>
    <h1>Search Sale</h1>
    <form>
        
        <div class="card" id="creditor">
  
          <div class="subheadinglabel" id="creditor">Enter Product or Date:</div>
            <br>
  
            <label>Product:</label>
            <input class="searchinput" type ="text" id="LocNameid" name="LocName" required style="width:580px"> <br>
  
            <label>Date:</label>
            <input type="date" name="tanggal" style="width:180px"><br/>
  
  
            
            <button type="submit">Search</button>
            <button routerLink="/sales-management" type="submit">Cancel</button>
  
        </div>
        <div class="card" id="creditor">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Quantity</th>
              <th>Product</th>
              <th>Unit Price</th>
              <th>Cost Price</th>
              <th>Subtotal</th>
              <th>Date</th>
            </tr>
            </thead>
          
          </table>
            
        </div>
        <br><br>
  
    
    </form>
  
  </body>
  
