<h1>Employee Management</h1>
<div class="divright">
    <label style="color:orange" onclick="window.location.href='https://ghelp.z1.web.core.windows.net/EmploymentManagementScreen.html'">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
<form>
    <br/>
    <div class="card" id="location">

        <br>
        <button routerLink="/createemployee" style="width: 25%;" type="submit" >Create Employee Profile</button>
        <br>
        <button routerLink="/searchemployee" style="width: 25%;" type="submit">Update Employee Profile</button>
        <br>
        <button routerLink="/searchemployee" style="width: 25%;" type="submit">Search Employee Profile</button>
        <br>
        <button routerLink="/searchemployee" style="width: 25%;" type="submit">Delete Employee Profile</button>
        
        
    </div>