<h1>Employee Management</h1>
<form>
    <br/>
    <div class="card" id="location">

        <br>
        <button routerLink="/createemployee" type="submit" >Create Employee Profile</button>
        <br>
        <button routerLink="/searchemployee" type="submit">Update Employee Profile</button>
        <br>
        <button routerLink="/searchemployee" type="submit">Search Employee Profile</button>
        <br>
        <button routerLink="/deleteemployee" type="submit">Delete Employee Profile</button>
        
        
    </div>