<h1>Employee Management</h1>
<form>
    <br/>
    <div class="card" id="location">

        <br>
        <button routerLink="/createemployee" style="width: 25%;" type="submit" >Create Employee Profile</button>
        <br>
        <button routerLink="/searchemployee" style="width: 25%;" type="submit">Update Employee Profile</button>
        <br>
        <button routerLink="/searchemployee" style="width: 25%;" type="submit">Search Employee Profile</button>
        <br>
        <button routerLink="/searchemployee" style="width: 25%;" type="submit">Delete Employee Profile</button>
        
        
    </div>