<body>
    <h1>Supplier Details</h1>
    <div class="divright">
        <label style="color:orange">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form [formGroup]="supForm">
        <div class="card" *ngIf = "showSearch">
            
        <div class="divleft"  >
            <label class="subheadinglabel">Enter Supplier Name: </label>
        
            <label for="name">Supplier Name:       </label>
            <input type="text" formControlName="name" [(ngModel)]="name" id="name" name="name" pattern="[a-zA-Z ]*" required>
                  <br>
                  <span style="color:red" *ngIf="supForm.get('name').errors && (supForm.get('name').touched || supForm.get('name').dirty)">
                      <span *ngIf="supForm.get('name').errors.required">Name is required.<br></span>
                      <span *ngIf="supForm.get('name').errors.pattern">Only text characters.<br></span>
                  </span>
       
        </div>
        <br>

        <div class="divleft">
            <button type="submit"(click)="searchSupplier()">Search</button>
            <button type="submit" (click)="gotoSupplierManagement()">Cancel</button>
        </div>
        <div *ngIf="showTable">
        <table >    
              <tr>  
                <th style="padding: 1px;">Name</th>
                <th style="padding: 1px;">Cell No</th>  
                <th style="padding: 1px;">Email</th>   
                <th style="width: 25%;"></th>
              </tr>  
              <tr *ngFor="let sup of suppliers; index as ndx">  
                <td >{{sup.SupName}}</td>  
                <td >{{sup.SupCell}}</td>  
                <td >{{sup.SupEmail}}</td> 
                <td ><button  style="border-radius: 10px; width: 95%;" (click)="view(ndx)">View</button></td> 

              </tr>   
          </table> 
        </div> 

    </div>
    <br>

    <div class="card" *ngIf = "showResults">
       

        <br>
        <div class="divleft" >
            <label class="subheadinglabel"> Searched Supplier Details:</label>
        </div>
    
        <div class="divleft">
            <label for="SupName">Name:     </label>
                  <input type="text" formControlName="SupName" [(ngModel)]="supplier.SupName" id="SupName" name="SupName" pattern="[a-zA-Z ]*" required required [readonly] = "this.inputEnabled">
                  <br>
                  <span style="color:red" *ngIf="supForm.get('SupName').errors && (supForm.get('SupName').touched || supForm.get('SupName').dirty)">
                      <span *ngIf="supForm.get('SupName').errors.required">Name is required.<br></span>
                      <span *ngIf="supForm.get('SupName').errors.pattern">Only text characters.<br></span>
                  </span>
          </div>


        <br>
        <div class="divleft" >
            <label for="SupCell">Cell:</label>
                <input type="text" formControlName="SupCell" [(ngModel)]="supplier.SupCell" id="SupCell" name="SupCell" pattern="[0-9 ]*" required required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="supForm.get('SupCell').errors && (supForm.get('SupCell').touched || supForm.get('SupCell').dirty)">
                    <span *ngIf="supForm.get('SupCell').errors.required">Cell is required.<br></span>
                    <span *ngIf="supForm.get('SupCell').errors.minlength">Cell must be 10 numbers</span>
                    <span *ngIf="supForm.get('SupCell').errors.maxlength">Cell must be 10 numbers</span>
                    <span *ngIf="supForm.get('SupCell').errors.pattern">Only numbers allowed.<br></span>
                </span>
        </div>

        <br>
        <div class="divleft"  >
            <label for="SupEmail">Email:</label>
              <input type="text" formControlName="SupEmail" [(ngModel)]="supplier.SupEmail" id="SupEmail" name="SupEmail" pattern="[a-zA-Z ]*" required required [readonly] = "this.inputEnabled">
              <br>
              <span style="color:red" *ngIf="supForm.get('SupEmail').errors && (supForm.get('SupEmail').touched || supForm.get('SupEmail').dirty)">
                  <span *ngIf="supForm.get('SupEmail').errors.required">Email is required.<br></span>
                  <span *ngIf="supForm.get('SupEmail').errors.email">Please enter in a valid email address.<br></span>
              </span>
        </div>

        <br>
        <div class="divleft" >
            <label for="SupStreetNr">Street No:</label>
                <input type="text" formControlName="SupStreetNr" [(ngModel)]="supplier.SupStreetNr" id="SupStreetNr" name="SupStreetNr" pattern="[0-9 ]*" required required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="supForm.get('SupStreetNr').errors && (supForm.get('SupStreetNr').touched || supForm.get('SupStreetNr').dirty)">
                    <span *ngIf="supForm.get('SupStreetNr').errors.required">Street No is required.<br></span>
                    <span *ngIf="supForm.get('SupStreetNr').errors.maxlength">Max 8 numbers.</span>
                    <span *ngIf="supForm.get('SupStreetNr').errors.pattern">Only numbers allowed.<br></span>
                </span>
        </div>

        <br>
        <div class="divleft" >
            <label for="SupStreet">Street:    </label>
                  <input type="text" formControlName="SupStreet" [(ngModel)]="supplier.SupStreet" id="SupStreet" name="SupStreet" pattern="[a-zA-Z ]*" required required [readonly] = "this.inputEnabled">
                  <br>
                  <span style="color:red" *ngIf="supForm.get('SupStreet').errors && (supForm.get('SupStreet').touched || supForm.get('SupStreet').dirty)">
                      <span *ngIf="supForm.get('SupStreet').errors.required">Street is required.<br></span>
                  </span>
        </div>

        <br>
        <div class="divleft" >
            <label for="SupCode">Postal Code:</label>
                <input type="text" formControlName="SupCode" [(ngModel)]="supplier.SupCode" id="SupCode" name="SupCode" pattern="[0-9 ]*" required placeholder="0000" minlength="4" maxlength="4" required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="supForm.get('SupCode').errors && (supForm.get('SupCode').touched || supForm.get('SupCode').dirty)">
                    <span *ngIf="supForm.get('SupCode').errors.required">Postal Code is required.<br></span>
                    <span *ngIf="supForm.get('SupCode').errors.minlength">Postal Code is 4 digits.</span>
                    <span *ngIf="supForm.get('SupCode').errors.maxlength">Postal Code is 4 digits.</span>
                    <span *ngIf="supForm.get('SupCode').errors.pattern">Only numbers allowed.<br></span>
                </span>
        </div>
 
        <br>
        <div class="divleft" >
            <label for="SupSuburb">Suburb:</label>
                <input type="text" formControlName="SupSuburb" [(ngModel)]="supplier.SupSuburb" id="SupSuburb" name="SupSuburb" pattern="[a-zA-Z ]*" required placeholder="Example: Hatfield" required [readonly] = "this.inputEnabled">
                <br>
                <span style="color:red" *ngIf="supForm.get('SupSuburb').errors && (supForm.get('SupSuburb').touched || supForm.get('SupSuburb').dirty)">
                    <span *ngIf="supForm.get('SupSuburb').errors.required">Suburb is required.<br></span>
                    <span *ngIf="supForm.get('SupSuburb').errors.pattern">Only text characters.<br></span>
                </span> 
        </div>
        <br>
    
        <div>
            <table>
                    <th>Products Supplied</th>
    
                <tr *ngFor="let item of products; index as ndx;">
                    <td>{{item.ProdName}}</td>

                 </tr>
            </table>
        </div>
        
        <br>

        <div class="divleft" *ngIf="showButtons">
            <button type="submit" (click)="enableInputs()">Update</button>
            <button type="submit" (click)="deleteSupplier()">Delete</button>
         <button type="submit"  (click)="gotoSupplierManagement()">Cancel</button>
         </div>

         <div class="divleft" *ngIf="showSave" >
         <button type="submit" (click)="updateSupplier()">Save</button>
         <button type="submit"  (click)="gotoSupplierManagement()">Cancel</button>
        </div>
        
    
    
    </div>
</form>
</body>