<body>
    <h1>Supplier Details</h1>
    <form>
        <div class="card" *ngIf = "showSearch">
            <br>
        <div class="divleft"  >
            <label class="subheadinglabel" >Enter Name and Surname To search </label>
        <br>
            <label for="name">Supplier Name:       </label>
            <input class="searchinput" class="form-control" [(ngModel)]="name" type="text" id="name" name="name">
       
        </div>
        <br>

        <div class="divleft">
            <button type="submit"(click)="searchSupplier()">Search</button>
            <button type="submit" (click)="gotoSupplierManagment()">Cancel</button>
        </div>

    </div>
    <br>

    <div class="card" *ngIf = "showResults">
       

        <br>
        <div class="divleft" >
            <label class="subheadinglabel"> Searched Supplier Details:</label>
        </div>
    
        <div class="divleft" >
            <label for="SupName">Name:       </label>
            <input type="text" class="form-control" [(ngModel)]="supplier.SupName" id="SupName" name="SupName" required [readonly] = "this.inputEnabled">
        </div>


        <br>
        <div class="divleft" >
            <label for="SupCell">Cell Number:  </label>
            <input type="text" class="form-control" [(ngModel)]="supplier.SupCell" id="SupCell" name="SupCell" required [readonly] = "this.inputEnabled">
        </div>

        <br>
        <div class="divleft"  >
            <label for="SupEmail">Email:      </label>
            <input type="text" class="form-control" [(ngModel)]="supplier.SupEmail" id="SupEmail" name="SupEmail" required [readonly] = "this.inputEnabled">
        </div>

        <br>
        <div class="divleft" >
            <label for="SupStreetNr">Street No: </label>
            <input type="text" class="form-control" [(ngModel)]="supplier.SupStreetNr" id="SupStreetNr" name="SupStreetNr" required [readonly] = "this.inputEnabled"> 
        </div>

        <br>
        <div class="divleft" >
            <label for="SupStreet">Street:    </label>
            <input type="text" class="form-control" [(ngModel)]="supplier.SupStreet" id="SupStreet" name="SupStreet" required [readonly] = "this.inputEnabled"> 
        </div>
        
        <br>
        <div class="divleft" >
            <label for="SupCode">Postal Code:   </label>
            <input type="text" class="form-control" [(ngModel)]="supplier.SupCode" id="SupCode" name="SupCode" placeholder="0000" required [readonly] = "this.inputEnabled"> 
        </div>
 
        <br>
        <div class="divleft" >
            <label for="SupSuburb">Suburb:   </label>
            <input type="text"  class="form-control" [(ngModel)]="supplier.SupSuburb" id="SupSuburb" name="SupSuburb" placeholder="Example: Hatfield" required [readonly] = "this.inputEnabled"> 
        </div>
        <br><br>

        <div class="divleft" *ngIf="showButtons">
            <button type="submit" (click)="enableInputs()">Update</button>
            <button type="submit" (click)="deleteSupplier()">Delete</button>
         </div>

         <div class="divleft" *ngIf="showSave" >
         <button type="submit" (click)="updateSupplier()">Save</button>
         <button type="submit" (click)="cancel()">Cancel</button>
        </div>
        
    </div>
    
    </form>
</body>





