<h1>Search Area</h1>
<br>
<div class="card">
    <!--<p style="text-align: left;color: orange;"><u>Enter Area Details for Search:</u></p>
    <br>
    <form class="col s12 white" style="align-content: left;">
        <div class="row">
          <div class="input-field col s6">
            <label>Area Name:</label>
            <input type="text" name="ArName" #ArName="ngModel" [(ngModel)]="service.areaData.ArName">
          </div>
          <div class="input-field col s6">
            <label>Province:</label>
            <select  class="form-control" style="background-color: rgba(0,0,0,0);" name="ProvinceID" #ProvinceID="ngModel" [(ngModel)]="service.areaData.ProvinceID"
            (change)="selectProvince($event.target)">
            <option value="0" >-- Select --</option>
            <option *ngFor="let area of service.areaList" value="{{area.ProvinceID}}">{{area.ProvName}}"></option>
          </select>
          </div>
          <div class="input-field col s6">
            <label>Area Status:</label>
            <select class="form-control"  style="background-color: rgba(0,0,0,0);" name="AreaStatusID" #AreaStatusID="ngModel" [(ngModel)]="service.areaData.AreaStatusID"
            (change)="selectAreaStatus($event.target)">
                <option value="0" >-- Select --</option>
                <option *ngFor="let area of service.areaList" value="{{ area.AreaStatusID}}">{{area.AreaStautsID.ASDescription}}"> </option>
              </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn-large btn-submit" type="submit"  (click)="SearchArea()">Search Area</button>
            <button class="btn-large btn-submit" type="submit"  routerLink="./">Cancel</button>
          </div>
        </div>
    </form>-->
    </div>
    <br>


