<body>

  <h1>Search Area</h1>
  <form>
  <div class="card" *ngIf = "showSearch">
          
      <div class="divleft">
          <label class="subheadinglabel">Enter Area to search:</label>
          <br><br>
          <label for="name">Name:     </label>
                <input class="searchinput" type="text" formControlName="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" id="name" name="name" pattern="[a-zA-Z ]*" required>
      </div> 

      <div class="divleft">
          <button type="submit" (click)= "searchArea()">Search</button>
          <button type="button" (click)= "gotoCreditorManagement()">Cancel</button>
          
      </div>

      

  </div>
  
  <div id ="area" *ngIf = "showResults">
          <div class="card">
                  <label> <span style="white-space: nowrap;">Area</span></label>
                  
                  <div class="divleft">
                      <br>
                      <label for="Name">Area Name:</label>
                      <input type = "text" id="ArName" class="form-control" [ngModelOptions]="{standalone: true}"  [(ngModel)]="area.ArName" name="ArName"  required [readonly]  = "this.inputDisabled">  
                      <br>
                  </div> 

                  <div class="divleft">
                      <label for="ArPostalCode">Postal Code:</label>
                      <input type = "text" id="ArPostalCode" class="form-control" [ngModelOptions]="{standalone: true}"  [(ngModel)]="area.ArPostalCode" name="ArPostalCode"  required [readonly] = "this.inputDisabled">  
                      <br>
                  </div>

                  <div class="divleft">
                      <label for="ProvName">Province:</label>
                      <input type = "text" id="Provname" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="Province.ProvName" name="ProvName"  required [readonly] = "this.inputDisabled" >  
                      <br>
                  </div>
              </div>

              <div class="divleft">
                <label for="ASDescription">Status:</label>
                <input type = "text" id="ASDescription" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="Status.ASDescription" name="ASDescription"  required [readonly] = "this.inputDisabled" >  
                <br>
            </div>
        </div>
          
              
              <div class="divleft" *ngIf="showButtons">
                  <button type="button" (click)="enableInputs()">Update</button>
                  <button type="submit" (click)="removeCreditor()">Delete</button>
              </div>

              <div class="divleft" *ngIf="showSave" >
                  <button type="submit" (click)="updateCreditor()">Save</button>
                  <button type="button" (click)="cancel()">Cancel</button>
              </div>
        
  



