<body>
    <form>
        <h1>Update VAT</h1>
        <div class="divright">
            <label style="color:orange" (click)="openHelp()">Help <i style="color:orange" class="tiny material-icons">help</i></label>
    </div>
        <div class="card">
            <div class="divleft">
                <label class="subheadinglabel"> VAT Details:</label>
                
                <table>
                    <th style="text-align: left;">VAT Percentage</th>
                    <th style="text-align: left;">VAT Start Date</th>
                    <th style="width: 20%; padding:5px"></th>
                    <th style="width: 20%; padding:5px"></th>
             
                    <tr *ngFor="let item of list; index as ndx; trackBy:trackByndx;">
                        <td><input style="width: 70%" type = "number" min="1" name="a{{ndx}}" [readonly]="enableInput" [(ngModel)] ="list[ndx].VATPerc" [ngModelOptions]="{standalone: true}"></td>
                        <td><input style="width: 70%" type = "text" name="b{{ndx}}" disabled="true" [(ngModel)] ="list[ndx].VATStartDate" [ngModelOptions]="{standalone: true}"></td>
                        <td ><button  style="border-radius: 10px; width: 60%;" (click)="update(ndx)"><i class="small material-icons" >edit</i></button></td>
                        <td><button style="border-radius: 10px; width: 60%;" (click)="save(ndx)"><i class="small material-icons">save</i></button></td>
            
                    </tr>
                 
                </table>
                <br>
                <button type="submit" (click)="Cancel()">Cancel</button>
            </div>
        </div>
    </form>
</body>

