<body>
    <form>
        <h1>Update VAT</h1>
        <div class="card">
            <div class="divleft">
                <label class="subheadinglabel"> VAT Details:</label>
                
                <table>
                    <th style="text-align: left;">VAT Percentage</th>
                    <th style="text-align: left;">VAT Start Date</th>
                    <th style="width: 20%; padding:5px"></th>
                    <th style="width: 20%; padding:5px"></th>
                    
                  
                    <tr *ngIf="showadd">
    
                        <td><input style="width: 70%" type="text" name="newVat" [(ngModel)]="newVat.VATPerc"></td>
                        <td><input style="width: 70%" type="text" name="newVat" [(ngModel)]="newVat.VATStartDate"></td>
                        <td></td>
                        <td><button style="border-radius: 10px; width: 60%;" (click)="saveadd()"><i class="small material-icons" plceholder="new item">save</i></button></td>
                        
                    </tr>
                    <tr *ngFor="let item of list; index as ndx; trackBy:trackByndx;">
                        <td><input style="width: 70%" type = "text" name="a{{ndx}}" [readonly]="enableInput" [(ngModel)] ="list[ndx].VATPerc"></td>
                        <td><input style="width: 70%" type = "text" name="b{{ndx}}" [readonly]="enableInput" [(ngModel)] ="list[ndx].VATStartDate"></td>
                        <td ><button  style="border-radius: 10px; width: 60%;" (click)="update()"><i class="small material-icons" >edit</i></button></td>
                        <td><button style="border-radius: 10px; width: 60%;" (click)="save(ndx)"><i class="small material-icons">save</i></button></td>
            
                    </tr>
                 
                </table>
                <br>
                <button type="submit" (click)="Cancel()">Cancel</button>
            </div>
        </div>
    </form>
</body>

