<body>
    <form>
        <h1>Add VAT</h1>
        <div class="card">
            <div class="divleft">
                <label class="subheadinglabel">Enter VAT Details:</label>
                <br>
                <label for="VATPerc">VAT Percentage:</label><input type="text" class="form-control" [(ngModel)]="vat.VATPerc" id="VATPerc" name="VATPerc" required>
                <br>
                <label for="VATStartDate">VAT Start Date:</label><input type="date" class="form-control" [(ngModel)]="vat.VATStartDate" id="VATStartDate" name="VATStartDate" min= "{{date | date: 'MM/dd/yyyy'}}" required>
                <button type="submit" (click)="Save()">Add VAT</button>
                <button type="submit" (click)="Cancel()">Cancel</button>
            </div>
        </div>
    </form>
</body>

