<form>
    <h1>Send Order Arrival Notification</h1>
    <body>
      
        <div class="card">
            <div class="divleft">
                <button>Show Fulfilled Orders</button>
            </div>
            
            <div class="divleft">
                <br>  <label class="subheadinglabel" >Orders:</label><br>
                <table>   
               
                    <tr>
                        <th>OrderNo</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                        
                        
                        
                    </tr>
          
                 
                    <!--<tr *ngFor="let item of products">-->
                    
                    <tr>
                        <td>71</td>
                        <td>Fulfilled</td>
                        <td>Mufaro</td>
                        <td>Mufaro@gmail.com</td>
                        <td><input type="checkbox"></td>
                        
                        
                        
                       
                    </tr>
        
                    <tr>
                        <td>64</td>
                        <td>Fulfilled</td>
                        <td>Paul</td>
                        <td>Paul123@yahoo.com</td>
                        <td><input type="checkbox"></td>
                        
                     
                        
                    </tr>
               
                    <tr>
                        <td>88</td>
                        <td>Fulfilled0</td>
                        <td>Sarah</td>
                        <td>sar1mos@gmail.com</td>
                        <td><input type="checkbox"></td>
                        
                  
                       
                    </tr>
        
                    <tr>
                        <td>66</td>
                        <td>Fulfilled</td>
                        <td>George</td>
                        <td>gorge@gmail.com</td>
                        <td><input type="checkbox"></td>
                        
                        
                    </tr>
                
            
                </table>
            </div>
            <button type="submit">Send Notification</button>
            <button type="submit">Cancel</button>
            <br><br>
         </div>
        
           
       

       

    </body>
</form>
