<body>
    <h1>GPS Management</h1>
    <form>
        <div class="card">
                <button style="width: 25%;" (click)="location()">Location</button>
                <br>
                <button style="width: 25%;" (click)="area()">Area</button>
                <br>
                <button style="width: 25%;" (click)="province()">Province</button>
        </div>

        <div class="card" *ngIf="showlocation">
            <label style="text-align: center;">Location</label>
            <br>
            <button  style="width: 25%;" routerLink="/create-location" type="submit">Add Location</button>  
            <br>       
            <button style="width: 25%;" routerLink="/search-location" type="submit">Search Location</button>       
            <br>
            <button style="width: 25%;" routerLink="/update-location" type="submit">Update Location</button>                
        </div>

        <div class="card" *ngIf="showarea">
            <label style="text-align: center;">Area</label>
            <br>
            <button style="width: 25%;" routerLink="/createarea" type="submit">Add Area</button>
            <br>
            <button style="width: 25%;" routerLink="/searcharea" type="submit">Search Area</button>
            <br>
            <button style="width: 25%;" routerLink="/searcharea" type="submit">Update Area</button>
            <br>
            <button style="width: 25%;" routerLink="/searchArea" type="submit">Remove Area</button>
            
            
        </div>

        <div class="card" *ngIf="showprovince">
            <label style="text-align: center;">Province </label>
            <br>
            <button style="width: 25%;" routerLink="/add-province" type="submit">Add Province</button>
            <br>
            <button style="width: 25%;" routerLink="/search-province" type="submit">Search Province</button>
            <br>
            <button style="width: 25%;" routerLink="/search-province" type="submit">Update Province </button>
            <br>
            <button style="width: 25%;" routerLink="/search-province" type="submit">Remove Province </button>
            
            
        </div>

    
    </form>
    <router-outlet></router-outlet>
</body>

