<form>
    <body>
        <h1>Low Stock Notification</h1>
        <div class="divright">
            <label style="color:orange" (click)="openHelp()">Help <i style="color:orange" class="tiny material-icons">help</i></label>
    </div>
<div class="card" style="padding: 1%;">
    <div class="divleft">
        <label class="subheadinglabel">Products Low In Stock</label>
        <br>
        <span *ngIf="showNone">No Products Found</span>
        <br>
        <div style="width: 100%; padding: 0%;">
        <table style="width: 100%; padding: 0%;">
            
                <th style="padding: 0%;">Product</th>
                <th style="padding: 0%;">Reorder Level</th>
                <th style="padding: 0%;">On Hand</th>
                <th style="padding: 0%;">In Backlog</th>
                <th style="padding: 0%;">Add To Backlog</th>
            
            <tr *ngFor="let item of list; index as ndx;">
                <td style="padding: 0%;">{{item.ProdName}}</td>
                <td style="padding: 0%;">{{item.ProdReLevel}}</td>
                <td style="padding: 0%;">{{item.CPQuantity}}</td>
                <td style="padding: 0%;">{{item.QuantityToOrder}}</td>
                <td style="padding: 0%;"><button (click)="Backlog(ndx)">+</button></td>
            </tr>
         
        </table> 
    </div>
   </div>
   <div  class="divleft">
    <button (click)="Cancel()">Cancel</button>

   </div>
 </div>
