<form>
    <body>
        <h1>Low Stock Notification</h1>
        <div class="divright">
            <label style="color:orange">Help <i style="color:orange" class="tiny material-icons">help</i></label>
    </div>
<div class="card">
    <div class="divleft">
        <label class="subheadinglabel">Products Low In Stock</label>
        <br>
        <span *ngIf="showNone">No Products Found</span>
        <br>
        <div style="width: 100%">
        <table>
            <th >Product Name</th>
            <th > Reorder Level</th>
            <th >Quantity On Hand</th>
            <th>Add To Backlog</th>
           
            <tr *ngFor="let item of list; index as ndx;">
                <td>{{item.Prodname}}</td>
                <td>{{item.Quantity}}</td>
                <td>{{item.CPQuantity}}</td>
                <td><button (click)="Backlog(ndx)">Add</button></td>
            </tr>
         
        </table> 
    </div>
   </div>
   <div  class="divleft">
    <button (click)="Cancel()">Cancel</button>

   </div>
 </div>
