<body>
    <h1>Add Creditor Payment</h1>
    <div class="divright">
      <label style="color:orange" (click)="openHelp()">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form [formGroup]="credForm">
        
        <div class="card" id="creditor">
  
          <div class="subheadinglabel" id="creditor">Enter Payment Details:</div>
            <br>
            <div class="divleft">
              <div class="divleft" >
                <label>Creditor:</label>
                  <select required formControlName="SupplierID" class="form-control" [(ngModel)]="creditorpayment.SupplierID"  name="SupplierID" id="SupplierID" required>
                        
                        <option  *ngFor="let supplier of suppliers" value="{{supplier.SupplierID}}">{{supplier.SupName}}</option>
                  </select>
                  <br>
                      <span style="color:red" *ngIf="credForm.get('SupplierID').errors && (credForm.get('SupplierID').touched || credForm.get('SupplierID').dirty)">
                          <span *ngIf="credForm.get('SupplierID').errors.required">Creditor is required.</span>
                      </span>
                </div>
            <br/>
            <div class="divleft" >
              <label for="CredPaymentDate">Date of Payment:  </label>  
              <input type="date" class="form-control" [(ngModel)]="creditorpayment.CredPaymentDate" id="CredPaymentDate" [ngModelOptions]="{standalone: true}" name="CredPaymentDate" required>
              <span style="color:red" *ngIf="credForm.get('CredPaymentDate').errors && (credForm.get('CredPaymentDate').touched || credForm.get('CredPaymentDate').dirty)">
                <span *ngIf="credForm.get('CredPaymentDate').errors.required">Date is required.</span>
            </span>
            </div>
  
          <div class="divleft" >
            <label for="CredPaymentAmount">Amount:  </label>
            <input type="text" class="form-control" [(ngModel)]="creditorpayment.CredPaymentAmount" id="CredPaymentAmount" [ngModelOptions]="{standalone: true}" name="CredPaymentAmount" required>
            <span style="color:red" *ngIf="credForm.get('CredPaymentAmount').errors && (credForm.get('CredPaymentAmount').touched || credForm.get('CredPaymentAmount').dirty)">
              <span *ngIf="credForm.get('CredPaymentAmount').errors.required">Amount is required.</span>
              <span *ngIf="credForm.get('CredPaymentAmount').errors.pattern">Only numbers/digits allowed.<br></span>
          </span>
          </div>
  
            
        <button type="submit" (click)="addCreditorPayment()">Add Creditor Payment</button> 
        <button type="submit" (click)= "gotoCreditorManagement()">Cancel</button>
          </div>
            
        </div>
        <br><br>
  
    
    </form>
  
  </body>
  
