<body>

    <h1>Search Province</h1>
    <br>
    <form>
        
        <div class="card">
            <div class="divleft">
            <label class="subheadinglabel">Enter province name to search:</label>
            <br><br>
            <label for="Name">Name</label>
            <input type = "text" id="nameInput"  class="input" required>     
            <br><br>
            <button type="submit" (click)= "clickMethod('search')">Search</button>
            <button type="submit" (click)= "clickMethod('confirmCancel')">Cancel</button>
            </div>  
        </div>
        <br><br>
        
        <div class="card">
            <div class="divleft">
            <label class="subheadinglabel">Searched province details:</label>
            <br><br>
            <label for="Name">Name</label>
            <input type = "text" id="nameInput"   value="KwaZulu Natal ">     
            <br><br>
            <button type="submit" routerLink="/update-province" id="update" >Update</button>
            <button type="submit" (click)="clickMethod('remove')">Remove</button>
            </div>  
        </div>

    </form>
<router-outlet></router-outlet>
</body>
