<body>
  <h1>Create Area</h1>
  <form >
  <br>
      
      <div class="card">
<div class="divleft">
  <div class="subheadinglabel" id="area">Enter Area Details:</div>
    <br>
    <div class="divleft" >
      <label for="ArName">Area Name:   </label>
        <input type="text" formControlName="ArName" class="form-control" [(ngModel)]="area.ArName" id="ArName" name="ArName" pattern="[a-zA-Z ]*" required> 
        <br>
      </div>

      <div class="divleft" >
        <label for="ArPostalCode">Postal Code:   </label>
          <input type="text" formControlName="ArPostalCode" class="form-control" [(ngModel)]="area.ArPostalCode" id="ArPostalCode" name="ArPostalCode" pattern="[a-zA-Z ]*" required> 
          <br>
        </div>

      <div class="divleft" >
        <label>Province: </label>
          <select required formControlName="ProvinceID" class="form-control" [(ngModel)]="area.ProvinceID" name="ProvinceID" id="ProvinceID" required>
                
                <option  *ngFor="let province of provinces" value="{{province.ProvinceID}}">{{province.ProvName}}</option>
          </select>
          <br>
        </div>
     
    <div class="divleft" >
      <label>Area Status</label>
      <select required formControlName="StatusID" class="form-control" [(ngModel)]="area.AreaStatusID" name="AreaStatusID" id="AreaStatusID" required >
            <option  *ngFor="let status of statuses" value="{{status.AreaStatusID}}">{{status.ASDescription}}</option>
      </select>
      <br>
    </div>


          <button type="button" (click)="addArea()" >Add Area</button> 
          <button type="button" (click)="gotoGPSManagement()">Cancel</button>
        </div>
      </div>
    </form>
</body>
