<h1>Create Area</h1>
<br>
<div class="card">
    <p style="text-align: left;color: orange;"><u>Enter Area Details:</u></p>
    <br>
    <form class="col s12 white" style="align-content: left;">
        <div class="row">
          <div class="input-field col s6">
            <label for="ArName">Area Name:</label>
            <input type="text" formControlName="ArName"  class="form-control" [(ngModel)]="newArea.ArName" id="ArName" name="ArName" pattern="[a-zA-Z ]*" required>
          </div>
          <div class="input-field col s6">
            <label for="ProvinceID">Province:</label>
                  <select  required formControlName="Select" name="Select" [(ngModel)]="Select" (ngModelChange)="loadProvinces($event)">
                     
                    <option  *ngFor="let province of provinces" [ngValue]="province">{{province.ProvName}}</option>
                  </select>
                  <br>
          </div>
          <div class="input-field col s6">
            <label for="ArPostalCode">Postal Code:</label>
            <input type="text" formControlName="ArPostalCode"  class="form-control" [(ngModel)]="newArea.ArPostalCode" id="ArPostalCode" name="ArPostalCode" pattern="[a-zA-Z ]*" required>
          </div>
          <div class="input-field col s6">
            <label for="AreaStatusID">Status:</label>
                  <select  required formControlName="Select" name="Select" [(ngModel)]="Select" (ngModelChange)="loadStatus($event)">
                     
                    <option  *ngFor="let status of statusses" [ngValue]="status">{{status.ASDescription}}</option>
                  </select>
                  <br>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" (click)="Save()">Create Area</button>
            <button class="btn-large btn-submit" type="submit">Cancel</button>
          </div>
        </div>
    </form>

    </div>
