<h1>Area Details</h1>
<br>
<div class="card"> 
    <!--<form class="col s12 white" style="align-content: center;" *ngFor="let area of service.areaList">
        <div class="row">
          <div class="input-field col s6">
            <label>Area Name:</label>
            <input type="text" name="Areaname" value="{{area.ArName}}">
          </div>
          <div class="input-field col s6">
            <label>Province:</label>
            <input type="text" name="Areaname" value="{{area.ProvinceID.ProvName}}">
          </div>
          <div class="input-field col s6">
            <label>Postal Code:</label>
            <input type="text" name="postalcode" value="{{area.ArPostalCode}}">
          </div>
          <div class="input-field col s6">
            <label>Area Status:</label>
            <input type="text" name="Areaname" value="{{area.AreaStatusID.ASDescription}}">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn-large btn-submit" type="submit">Save</button>
            <button class="btn-large btn-submit" type="submit" routerLink="/updatearea">Update</button>
            <button class="btn-large btn-submit" type="submit">Cancel</button>
          </div>
        </div>
    </form>-->

    </div>
        <!-- table -->
