<body>
    <h1 class="menuheading"> Manager Profile Management</h1>
    <div class="divright">
        <label style="color:orange" (click)="openHelp()">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form>
        <div class="card">
            <button  type="submit" style="width: 25%;" (click)="gotoCreateManager()">Create Manager Profile</button>
            <br><br>
            <button type="submit" style="width: 25%;" (click)="gotoSearchManager()">Update Manager Profile</button>
            <br><br>
            <button  type="submit" style="width: 25%;" (click)="gotoSearchManager()">Search Manager Profile</button>
            <br><br>
            <button type="submit" style="width: 25%;" (click) = "gotoSearchManager()">Delete Manager Profile</button>
        </div>
        
    </form>
</body>



