<body>
    <h1 class="menuheading"> Manager Profile Management</h1>
    <form>

        <br><br>
        <div class="card">
            <button  type="submit" (click)="gotoCreateManager()">Create Manager Profile</button>
            <br><br>
            <button type="submit" (click)="gotoSearchManager()">Update Manager Profile</button>
            <br><br>
            <button  type="submit" (click)="gotoSearchManager()">Search Manager Profile</button>
            <br><br>
            <button type="submit" (click) = "gotoSearchManager()">Delete Manager Profile</button>
        </div>
        
    </form>
</body>



