<!DOCTYPE html>
<body>
  <div *ngIf="showMenu">
    <h1>Sale Management</h1>
    <div class="divright">
      <label style="color:orange"  onclick="window.location.href='https://ghelp.z1.web.core.windows.net/SaleManagementScreen.html'">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
  <div class="card" id="salemanagement">
    <br>        
    <button style="width: 25%;" (click)="showMakeSale()" type="submit">Make Sale</button><br>
   
    <button  style="width: 25%;"routerLink="/search-sale" type="submit">Search Sale</button><br>
    
    <button  style="width: 25%;" routerLink="/sales-management" type="submit">Card Machine Help</button><br>
 
  </div>
</div>
<div *ngIf="showSale">
  <h1>Make Sale</h1>
  <div class="divright">
    <label style="color:orange"  onclick="window.location.href='https://ghelp.z1.web.core.windows.net/MakeSales.html'">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
  <form >
    <div *ngIf="showProd" class="card"> 
      <div class="divleft" style="padding: 2px 2px;">
        <label class="subheadinglabel" >Add Products:</label>
      </div>
      <div class="divleft" >
        <mat-radio-group  aria-label="Select Option">
        <mat-radio-button  value = 1 (click)="useBardode()" >Use Barcode</mat-radio-button>
        <mat-radio-button value = 2 (click)="useName()" >Use Product Name</mat-radio-button>
       
        </mat-radio-group>

    </div>

      
       <div *ngIf="showBarcode" class="divleft" [formGroup]="searchForm">
         <label for="prodBarcode">Barcode:</label><input type="number" formControlName="prodBarcode" class="form-control" [(ngModel)]="prodBarcode" id="prodBarcode" name="prodBarcode" pattern="[0-9 ]*" required>
        <br>
       <span style="color:red" *ngIf="searchForm.get('prodBarcode').errors && (searchForm.get('prodBarcode').touched || searchForm.get('prodBarcode').dirty)">
          <span *ngIf="searchForm.get('prodBarcode').errors.required">Barcode is required.</span>
          <span *ngIf="searchForm.get('prodBarcode').errors.minlength || searchForm.get('ProdBarcode').errors.maxlength">Barcode must be greater than 5 numbers and less than 50 numbers.</span>
          <span *ngIf="searchForm.get('prodBarcode').errors.pattern">Only numbers allowed.</span>
      </span>
        <br>
        <div hidden="true" class="divleft" *ngIf="showSearch">
          <button style="width:60px; border-radius: 10px;" type="submit" (click)="getProduct()"><i class="tiny material-icons">search</i></button>
        </div>
        
     </div>
      
        <div class="divleft" *ngIf="showQuantity">
          <label for="quantity">Quantity </label>
          <input  style="width:50px;" type="number" min="0" name="quantity" [(ngModel)]="quantity" id="quantity" required>
          <button style="height: 30px;" (click)="listProducts()">Add</button>
        </div>


        <div *ngIf="showName" style="padding: 2px 2px;">
          <div class="divleft" >
           <label for="Product">Product: </label>
            <select required name="prodSelection" [(ngModel)]="prodSelection" (ngModelChange)="addProduct($event)">
                <option *ngFor="let product of productsWithPrice" [ngValue]="product">{{product.Prodname}}</option>
            </select>
          </div>
           <div *ngIf="prodNotSelected" class ="divleft">
            <label style="color: red; font-size: 13px; width :200px">Select a product</label>
         </div>
         <div class="divleft">
            <label for="quantity">Quantity </label>
            <input  style="width:60px;" type="number" min="0" name="quantity" [(ngModel)]="quantity" id="quantity" required>
            <button style="height: 30px;" (click)="getProduct()">Add</button>
          </div>
        </div>
       
    </div>

   
    
    
    <br>
    <div *ngIf="showTable" class="card">
      <div class="divleft" style="padding: 2px 2px;" >
        <label class="subheadinglabel" >Sale Details: </label>
    </div>
    <div class="divleft" style="padding: 2px 2px;" >
     
      <label style="width: 200px">Date: {{saleDate | date: 'yyyy-MM-dd'}}</label>
      <label style="width: 300px">Cashier: {{user.UserName}} {{user.UserSurname}}</label>
     <!--<label style="width: 300px">Container: {{user.Container.ConName}}</label>-->
  </div>
    <br>
        <table>    
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
            <tr *ngFor="let item of saleProducts, index as ndx">
                <td>{{item.Prodname}}</td>
                 <td>{{item.Quantity}}</td>
                 <td>R{{item.Price}}</td>
                <td>R{{item.Subtotal}}</td>
                <td><button class="btntable" style="height: 30px; width:50px"  (click) ="remove(ndx)"><i class="tiny material-icons">delete</i></button></td>
            </tr>

            <tr >
                
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th>VAT:{{vatPerc}}%:</th>
                <th>R{{displayVat}}</th>
            </tr>
        
            <tr>
                
                <th></th>
                <th></th>
                <th>TOTAL:</th>
                <th>R{{displayTotal}}</th>
            </tr>
        </table>

      
      <div class="divleft">
        
          <div class="divleft" *ngIf = "!showPay">
              <button type="submit" (click)="showPayment()">Make Payment</button>
              <button type="submit" (click)="gotoSaleManagement()">Cancel Sale</button>
          </div>
      </div>
    </div>

    
    <div  class="card" style="padding: 2px 2px;" *ngIf = "showPay">
      <div class="divleft" >
          <label for="Product">Payment Method: </label>
           <select required name="paySelection" [(ngModel)]="paySelection" (ngModelChange)="addPayment($event)">
               <option *ngFor="let payment of paymentTypes" [ngValue]="payment">{{payment.PTDescription}}</option>
           </select>
       </div>

       <div class="divleft">
          <label for="quantity">Amount </label>
          <input  style="width:80px;" type="number" min="0" name="amount" [(ngModel)]="amount" id="amount" required>
          
        </div>
        <div class="divleft" *ngIf="ShowOustanding">
          <label style="width :300px">Outstanding Amount: R{{outstandingAmt}}</label>
        </div>
        <div class="divleft" *ngIf="showChange">
           <label style="width :300px">Change: R{{change}}</label>
         </div>
   
       <div class="divleft">
        <button type="submit" (click)="makePayment()">Make Payment</button>
        <button type="submit" (click)="completeSale()">Complete Sale</button>
        <button type="submit" (click)="gotoSaleManagement()">Cancel Sale</button>
       </div>

      </div>


  
  </form>
</div>
</body>

