
    <h1>Search Manager Profile</h1>
    <div class="divright">
        <label style="color:orange" onclick="window.location.href='https://ghelp.z1.web.core.windows.net/SearchManagerProfile.html'">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form [formGroup] = "empForm">
    <div  class="card" >
        <div class="divleft" >
            <mat-radio-group aria-label="Select Option To Search">
                <mat-radio-button value= 1 (click)="search()">Search Manager</mat-radio-button>
                <mat-radio-button value= 2 (click)="viewAll()">View All Managers</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="divleft" *ngIf="showViewAll">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th style="width: 30%; padding:0px"></th>
                </tr>
    
                   
                <tr *ngFor="let item of managers; index as ndx;">
                    <td>{{item.UserName}}</td>
                    <td>{{item.UserSurname}}</td>
                    <td>{{item.UserEmail}}</td>
                    <td><button style="border-radius: 10px; width: 90%;" (click)="view(ndx)">View</button></td>
                </tr>
            </table>
            <br>
            <button type="submit" (click)="gotoManagerManagement()">Cancel</button>
        </div>
            
        <div  class="divleft" *ngIf="showSearch" >
            <br>
            <label class="subheadinglabel" >Enter Manager Name and Surname To search:</label>
        <br>
        <label for="name">Name:       </label>
        <input class="searchinput"  formControlName="name" class="form-control" [(ngModel)]="name" type="text" id="name" name="name" pattern="[a-zA-Z ]*" required minlength="2" maxlength="25">
       <br> <span style="color:red" *ngIf="empForm.get('name').errors && (empForm.get('name').touched || empForm.get('name').dirty)">
            <span *ngIf="empForm.get('name').errors.required">Name is required.</span>
            <span *ngIf="empForm.get('name').errors.minlength || empForm.get('name').errors.maxlength">Name must be greater that 2 characters and less than 25 characters</span>
            <span *ngIf="empForm.get('name').errors.pattern">Only text characters.</span>
          </span>
          <br>
        <label for="cusSurname">Surname:   </label>
        <input class="searchinput" formControlName="surname" class="form-control" [(ngModel)]="surname" type="text" id="surname" name="surname" pattern="[a-zA-Z ]*" required minlength="2" maxlength="25">
        <br><span style="color:red" *ngIf="empForm.get('surname').errors && (empForm.get('surname').touched || empForm.get('surname').dirty)">
            <span *ngIf="empForm.get('surname').errors.required">Surname is required.</span>
            <span *ngIf="empForm.get('surname').errors.minlength || empForm.get('surname').errors.maxlength">Surname must be greater that 2 characters and less than 25 characters</span>
            <span *ngIf="empForm.get('surname').errors.pattern">Only text characters.</span>
          </span><br>
            <div class="divleft">
                <button type="submit" (click) ="searchManager()">Search</button>
                <button type="submit" (click)="gotoManagerManagement()">Cancel</button>
            </div>
    </div>
    </div>

     

        
    <br><br>
        <div *ngIf = "showResults" class="card">
            <div class="divleft">
     
        <div class="divleft">
            <br>
            <label class="subheadinglabel">Manager General Details:</label>
            <br>   
            <div class="divleft" >
                <label for="UserName">Name:       </label>
                <input class="searchinput" formControlName="UserName" [(ngModel)]="user.UserName"  type="text" id="UserName" name="UserName" required [readonly] = "this.inputEnabled">
            <br>
                <label for="UserSurname">Surname:   </label>
                <input class="searchinput" formControlName="UserSurname" [(ngModel)]="user.UserSurname" type="text" id="UserSurname" name="UserSurname" required [readonly] = "this.inputEnabled">
            <br>
                <label for="UserCell">Cell Number:  </label>
                <input class="searchinput" formControlName="UserCell" [(ngModel)]="user.UserCell"  type="text" id="UserCell" name="UserCell" required [readonly] = "this.inputEnabled">
         <br>
                <label for="UserEmail">Email:      </label>
                <input class="searchinput" formControlName="UserEmail"[(ngModel)]="user.UserEmail"  type="text" id="UserEmail" name="UserEmail"required [readonly] = "this.inputEnabled">
            <br>
            <label for="EmployeeStartDate">Work Start Date: </label>
            <input class="searchinput" formControlName="EmployeeStartDate" [(ngModel)]="employee.EmpStartDate"  type="text" id="EmpStartDate" name="EmpStartDate" required [readonly] = "this.inputEnabled">
           <br>
            <label for="EmployeeShiftsCompleted">Shifts Completed:    </label>
            <input class="searchinput" formControlName="EmpShiftsCompleted" [(ngModel)]="employee.EmpShiftsCompleted" type="text" id="EmpShiftsCompleted" name="EmpShiftsCompleted" required [readonly] = "this.inputEnabled">
        </div>

    <div  class ="divleft">
        <label class="subheadinglabel">Containers Managed:</label> 
    <br>
        <label for="containers">Container: </label>
        <select required name="selection" formControlName="container" [(ngModel)]="selection" (ngModelChange)="addContainer($event)">
            <option *ngFor="let container of containers" [ngValue]="container">{{container.ConName}}</option>
        </select>
        <br>
        <span style="color:red" *ngIf="empForm.get('container').errors && (empForm.get('container').touched || empForm.get('container').dirty)">
            <span *ngIf="empForm.get('container').errors.required">Container is required.</span>
          </span>
    </div><br>

    <div *ngIf ="showTable">
        <table  class="table" id="Table">
    
            
            <tr>
                <th>Containers Managed</th>
                <th style="width: 20%; padding: 2px"></th>

            </tr>

            <tr *ngFor="let item of  selectedContainers; index as ndx;">
                <td>{{item.ConName}}</td>
                <td><button  style="border-radius: 10px; width: 95%;" (click)="remove(ndx)">Remove</button></td>
            </tr>
        </table>
        </div>

    <br>
    <div class="divleft">
        <br>
    <label class="subheadinglabel" >Enter Manager Profile Details</label>
<br>
        <label for="ManQualification">Qualification:       </label>
        <input type="text" formControlName="ManQualification" [(ngModel)]="manager.ManQualification" id="ManQualification" name="ManQualification" pattern="[a-zA-Z ]*" required [readonly] = "allowEdit">
       <br>
        <span style="color:red" *ngIf="empForm.get('ManQualification').errors && (empForm.get('ManQualification').touched || empForm.get('ManQualification').dirty)">
            <span *ngIf="empForm.get('ManQualification').errors.required">Qualification is required.</span>
            <span *ngIf="empForm.get('ManQualification').errors.minlength || empForm.get('ManQualification').errors.maxlength">Qualification must be greater that 2 characters and less than 50 characters</span>
            <span *ngIf="empForm.get('ManQualification').errors.pattern">Only text characters.</span>
          </span>
          <br>
        <label for="ManNationality">Nationality:       </label>
        <input type="text" formControlName="ManNationality" [(ngModel)]="manager.ManNationality" id="ManNationality" name="ManNationality" pattern="[a-zA-Z ]*" required  [readonly] = "allowEdit">
        <br>
        <span style="color:red" *ngIf="empForm.get('ManNationality').errors && (empForm.get('ManNationality').touched || empForm.get('ManNationality').dirty)">
            <span *ngIf="empForm.get('ManNationality').errors.required">Nationality is required.</span>
            <span *ngIf="empForm.get('ManNationality').errors.minlength || empForm.get('ManNationality').errors.maxlength">Nationality must be greater that 2 characters and less than 25 characters</span>
            <span *ngIf="empForm.get('ManNationality').errors.pattern">Only text characters.</span>
          </span>
          <br>
        <label for="ManIDNumber">ID Number:       </label>
        <input type="text" [(ngModel)]="manager.ManIDNumber" formControlName="ManIDNumber" id="ManIDNumber" name="ManIDNumber" pattern="[0-9 ]*" required  [readonly] = "allowEdit">
        <br>
        <span style="color:red" *ngIf="empForm.get('ManIDNumber').errors && (empForm.get('ManIDNumber').touched || empForm.get('ManIDNumber').dirty)">
            <span *ngIf="empForm.get('ManIDNumber').errors.required">cell number is required.</span>
            <span *ngIf="empForm.get('ManIDNumber').errors.minlength || empForm.get('ManIDNumber').errors.maxlength">Surname must be 13 digits</span>
            <span *ngIf="empForm.get('ManIDNumber').errors.pattern">Only text characters.</span>
          </span>
          <br>
    </div>
    <br>

   
    <div class="divleft">
        <label class="subheadinglabel">Enter Next Of Keen Details:</label>
        <br>
        <label for="ManNextOfKeenFName">Full Name:       </label>
        <input type="text" formControlName="ManNextOfKeenFName" [(ngModel)]="manager.ManNextOfKeenFName" id="ManNextOfKeenFName" name="ManNextOfKeenFName" pattern="[a-zA-Z ]*" required  [readonly] = "allowEdit">
        <br>
        <span style="color:red" *ngIf="empForm.get('ManNextOfKeenFName').errors && (empForm.get('ManNextOfKeenFName').touched || empForm.get('ManNextOfKeenFName').dirty)">
            <span *ngIf="empForm.get('ManNextOfKeenFName').errors.required">Name is required.</span>
            <span *ngIf="empForm.get('ManNextOfKeenFName').errors.minlength || empForm.get('ManNextOfKeenFName').errors.maxlength">Name must be greater that 2 characters and less than 25 characters</span>
            <span *ngIf="empForm.get('ManNextOfKeenFName').errors.pattern">Only text characters.</span>
          </span>
          <br>
        <label for="ManNextOfKeenCell">Cell Number:       </label>
        <input type="text" formControlName="ManNextOfKeenCell" [(ngModel)]="manager.ManNextOfKeenCell" id="ManNextOfKeenCell" name="ManNextOfKeenCell" pattern="[0-9]*" required  [readonly] = "allowEdit">
        <br>
        <span style="color:red" *ngIf="empForm.get('ManNextOfKeenCell').errors && (empForm.get('ManNextOfKeenCell').touched || empForm.get('ManNextOfKeenCell').dirty)">
            <span *ngIf="empForm.get('ManNextOfKeenCell').errors.required">cell number is required.</span>
            <span *ngIf="empForm.get('ManNextOfKeenCell').errors.minlength || empForm.get('ManNextOfKeenCell').errors.maxlength">Cell number must be 10 digits</span>
            <span *ngIf="empForm.get('ManNextOfKeenCell').errors.pattern">Only numbers.</span>
          </span>
          <br>
    </div>
    <br>
  
    <div class="divleft" *ngIf="showButtons">
       <button type="submit" (click)="enableInputs()">Update</button>
       <button type="submit" (click)="deleteManager()">Delete</button>
       <button type="submit" (click)="cancel()">Cancel</button>
    </div>

    <div class="divleft" *ngIf="showSave" >
        <button type="submit" (click)="updateManager()">Save</button>
        <button type="submit" (click)="cancel()">Cancel</button>
       </div>
    
</div>
</div>
</div>
</form>

