<body>
    <h1>Supplier Details</h1>
    <div class="divright">
      <label style="color:orange">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form>
        
        <div class="card" id="creditor">
            <table class="table table-striped">  
                <thead class="thead-dark">  
                  <tr>  
                    <th>Product</th>  
                    <th>Supplier</th> 
                    <th>Cell Number</th> 
                    <th>Email</th> 
                    <th>Street No</th> 
                    <th>Street</th> 
                    <th>Postal Code</th> 
                    <th>Suburb</th> 
                  </tr>  
                </thead>  
                <tbody>  
                  <tr>  
                    <td>{{supplierdetail.ProdName}}</td>
                    <td></td>
                    <td></td>
                  </tr>  
                </tbody>
              </table>  
  
            <div class="divleft">
            <button type="submit">Process Order</button>
            <button type="submit">Cancel</button>
          </div>
        </div>
        <br><br>
  
    
    </form>
  
  </body>
  
