<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ORDRA Menu</title>
	
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
</head>


<body>
    <div *ngIf = "showLogin" style='width: 80%!important;' >

    <div class="wrapperlogin">
        <div class="wrapped-div-login">
    <img src="https://www.ordra.co.za/image/catalog/info/ORDRAA1%20(2).png" class="mx-auto d-block" style="height:90px;width:200px">
    <form   #form='ngForm' autocomplete="off" >
        <h2>Login</h2>
        <div class="form-group" [ngClass] ="{}" >
          <label>Username:</label>
          <input class="input"  name="UserName" [(ngModel)]="user.UserName" pattern="[a-zA-Z]*" required [ngModelOptions]="{standalone: true}">
        </div>
      <div class="form-group">
        <label >Password:</label>
        <input type="password" class="input" [(ngModel)]="user.UserPassword"  name="Password"  required [ngModelOptions]="{standalone: true}">
      </div>
      <span style="color:red" *ngIf="showError">
        {{errorMessage}}</span>
      <div class="form-group">
      <label for="Product">Operating In Container: </label>
                <select required name="conSelection" [(ngModel)]="conSelection" (ngModelChange)="selectContainer($event)">
                    <option *ngFor="let con of containers" [ngValue]="con">{{con.ConName}}</option>
                </select>
      </div>
      <span style="color:red" *ngIf="showContainerNotSelected">
        select container</span>
        
    
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button style="background-color:rgba(251,113,0,1);color:white" type="submit"  (click)="login()">Login </button>
          <button style="background-color:rgba(251,113,0,1);color:white" type="submit"  (click)="register()">Register </button>
          <button style="background-color:rgba(251,113,0,1);color:white" type="submit"  (click)="generateOTP()">Reset Password</button>
        </div>
      </div>
    </form>
        </div>
    </div>
</div>

<div *ngIf = "showRegister"  >
    <div class="wrapperlogin">
        <div class="wrapped-div-login">
          <div>
    <img src="https://www.ordra.co.za/image/catalog/info/ORDRAA1%20(2).png" class="mx-auto d-block" style="height:90px;width:200px">
  </div>
    <form [formGroup]="regForm">
        <h2>Register</h2>
        <div class="form-group" >
          <label for="UserName">Name:</label>
                <input type="text" formControlName="UserName" [(ngModel)]="user.UserName" id="UserName" name="UserName" pattern="[a-zA-Z ]*" required>
                
                <span style="color:red" *ngIf="regForm.get('UserName').errors && (regForm.get('UserName').touched || regForm.get('UserName').dirty)">
                    <span *ngIf="regForm.get('UserName').errors.required">Name is required.<br></span>
                    <span *ngIf="regForm.get('UserName').errors.pattern">Only text characters.<br></span>
                </span>
        </div>
        <div class="form-group">
          <label for="UserSurname">Surname:</label>
                <input type="text" formControlName="UserSurname" [(ngModel)]="user.UserSurname" id="UserSurname" name="UserSurname" pattern="[a-zA-Z ]*" required>
                <div>
                <span style="color:red" *ngIf="regForm.get('UserSurname').errors && (regForm.get('UserSurname').touched || regForm.get('UserSurname').dirty)">
                    <span *ngIf="regForm.get('UserSurname').errors.required">Surname is required.<br></span>
                    <span *ngIf="regForm.get('UserSurname').errors.pattern">Only text characters.<br></span>
                </span>
              </div>
        </div>
        <div class="form-group">
          <label for="UserCell">Cell:</label>
                <input type="text" formControlName="UserCell" [(ngModel)]="user.UserCell" id="UserCell" name="UserCell" pattern="[0-9 ]*" required>
                <br>
                <span style="color:red" *ngIf="regForm.get('UserCell').errors && (regForm.get('UserCell').touched || regForm.get('UserCell').dirty)">
                    <span *ngIf="regForm.get('UserCell').errors.required">Cell is required.<br></span>
                    <span *ngIf="regForm.get('UserCell').errors.minlength">Cell must be 10 numbers</span>
                    <span *ngIf="regForm.get('UserCell').errors.maxlength">Cell must be 10 numbers</span>
                    <span *ngIf="regForm.get('UserCell').errors.pattern">Only numbers allowed.<br></span>
                </span>
        </div>
      <div class="form-group">
        <label for="UserEmail">Email:</label>
              <input type="text" formControlName="UserEmail" [(ngModel)]="user.UserEmail" id="UserEmail" name="UserEmail" pattern="[a-zA-Z ]*" required>
              <br>
              <span style="color:red" *ngIf="regForm.get('UserEmail').errors && (regForm.get('UserEmail').touched || regForm.get('UserEmail').dirty)">
                  <span *ngIf="regForm.get('UserEmail').errors.required">Email is required.<br></span>
                  <span *ngIf="regForm.get('UserEmail').errors.email">Please enter in a valid email address.<br></span>
              </span>
      </div>
      <div class="form-group">
        <label >Password:</label>
        <input  class="input"  type="password"  [(ngModel)]="user.UserPassword"name="Password" id="txtPassword" required>
      </div>
      <div class="form-group">
        <label >Confirm Password:</label>
        <input  class="input"  type="password"  [(ngModel)]="ConfirmPassword"name="ConfirmPassword" id="txtConfirmPassword" (ngModelchange)="Validate()" required>
      </div>
      <span style="color:red" *ngIf="showInvalidPassword">
        Passwords do not match
      </span>
      
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button style="background-color:rgba(251,113,0,1);color:white" type="submit"(click)="saveUser()">Register</button>
          <button style="background-color:rgba(251,113,0,1);color:white" type="submit" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
        </div>
    </div>
</div>

<div *ngIf = "showGenerateOTP" >
  <div class="wrapperlogin">
      <div class="wrapped-div-login">
  <div>
  <img src="https://www.ordra.co.za/image/catalog/info/ORDRAA1%20(2).png" class="mx-auto d-block" style="height:90px;width:200px">
</div>
  <form   #form='ngForm' autocomplete="off" >
      <h2>Generate One time Pin</h2>
      <div class="divleft" >
        <label class="subheadinglabel">Enter your email address:</label>
      </div>
    <div class="form-group" [ngClass] ="{}">
      <label>Email:</label>
      <input class="input"  name="email" [(ngModel)]="email" id="txtEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    </div>
    <span style="color:red" *ngIf="showError">
      {{errorMessage}}</span>
    
  
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button style="background-color:rgba(251,113,0,1);color:white" type="submit"  (click)="sendEmail()">Send One Time Pin</button>
        <button style="background-color:rgba(251,113,0,1);color:white" type="submit" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
      </div>
  </div>
</div>

<div *ngIf = "showEnterOTP" >
  <div class="wrapperlogin">
      <div class="wrapped-div-login">
  <img src="https://www.ordra.co.za/image/catalog/info/ORDRAA1%20(2).png" class="mx-auto d-block" style="height:90px;width:200px">
  <form   #form='ngForm' autocomplete="off" >
      <h2>Verify One Time Pin</h2>
      <div class="divleft">
        <label class="subheadinglabel">Enter emailed One Time Pin:</label>
      </div>
      <div class="form-group" [ngClass] ="{}">
        <label>Email:</label>
        <input class="input"  name="email" [(ngModel)]="email" id="txtEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
      </div>
      <span style="color:red" *ngIf="showError">
        {{errorMessage}}</span>
    <div class="form-group" [ngClass] ="{}">
      <label>One Time Pin:</label>
      <input class="input"  name="otp" [(ngModel)]="otp" id="txtOtp" pattern="[0-9 ]*" required>
    </div>
    <span style="color:red" *ngIf="showError">
      {{errorMessage}}</span>
    
  
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button style="background-color:rgba(251,113,0,1);color:white" type="submit"  (click)="checkOTP()">Verify One Time Pin</button>
        <button style="background-color:rgba(251,113,0,1);color:white" type="submit" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
      </div>
  </div>
</div>

<div *ngIf = "showResetPassword" >
  <div class="wrapperlogin">
      <div class="wrapped-div-login">
  <img src="https://www.ordra.co.za/image/catalog/info/ORDRAA1%20(2).png" class="mx-auto d-block" style="height:90px;width:200px">
  <form  #form='ngForm' autocomplete="off" id="resetForm">
      <h2>Reset Password</h2>
      <div class="divleft">
        <label class="subheadinglabel">Enter new password details:</label>
      </div>
    <div class="form-group" [ngClass] ="{}">
      <label>Email:</label>
      <input class="input"  name="email" [(ngModel)]="email" id="txtEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    </div>
    <span style="color:red" *ngIf="showError">
      {{errorMessage}}</span>

      <div class="form-group">
        <label >Password:</label>
        <input  class="input"  type="password"  [(ngModel)]="password"name="Password" id="txtPassword" required>
      </div>
      <div class="form-group">
        <label >Confirm Password:</label>
        <input  class="input"  type="password"  [(ngModel)]="ConfirmPassword"name="ConfirmPassword" id="txtConfirmPassword" (change)="Validate()" required>
      </div>
      <span style="color:red" *ngIf="showInvalidPassword">
        Passwords do not match
      </span>
    
  
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button style="background-color:rgba(251,113,0,1);color:white" type="submit"  (click)="resetPassword()">Reset Password</button>
        <button style="background-color:rgba(251,113,0,1);color:white" type="submit" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
      </div>
  </div>
</div>

<div *ngIf = "showNav">
    <div class="wrapper">
        <div class="sidebar">
        <h2><img width="170"  src="https://www.ordra.co.za/image/catalog/info/ORDRAA1%20(2).png" (click)="onHome()"></h2>
              
        <ul style="width: 200px; height: 600px; overflow-y: scroll;">
            
          <li><i class="tiny material-icons">menu</i><a [routerLink]="'/admin'"> <i class="fas fa-home"></i>Administration </a></li>
          <li><i class="tiny material-icons">store</i><a [routerLink]="'/container-management'"><i class="fas fa-user"></i>Container Management</a></li>
          <li><i class="tiny material-icons">attach_money</i><a [routerLink]="'/creditor-management'"><i class="fas fa-map-pin"></i>Creditor Management </a></li>
          <li><i class="tiny material-icons">contacts</i><a [routerLink]="'/customer-management'"><i class="fas fa-address-book"></i>Customer Management </a></li>
          <li><i class="tiny material-icons">shopping_cart</i><a [routerLink]="'/customer-order-management'"><i class="fas fa-map-pin"></i>Customer Order Management </a></li>
          <li><i class="tiny material-icons">card_giftcard</i><a [routerLink]="'/donation-management'"><i class="fas fa-map-pin"></i>Donation Management </a></li>
            <li><i class="tiny material-icons">people_outline</i><a [routerLink]="'/employee-management'"> <i class="fas fa-home"></i>Employee Management </a></li>
            <li><i class="tiny material-icons">add_location</i><a [routerLink]="'/gps-management'"><i class="fas fa-project-diagram"></i>GPS Management</a></li>
            <li><i class="tiny material-icons">person_pin</i><a [routerLink]="'/manager-management'"><i class="fas fa-address-card"></i>Manager Profile Management</a></li>
            <li><i class="tiny material-icons">layers</i><a [routerLink]="'/product-management'"><i class="fas fa-map-pin"></i>Product Management </a></li>
            <li><i class="tiny material-icons">shopping_basket</i><a [routerLink]="'/sales-management'"><i class="fas fa-blog"></i>Sales </a></li>
            <li><i class="tiny material-icons">settings_ethernet</i><a [routerLink]="'/supplier-management'"><i class="fas fa-map-pin"></i>Supplier Management </a></li>
            <li><i class="tiny material-icons">local_shipping</i><a [routerLink]="'/supplier-order-management'"><i class="fas fa-map-pin"></i>Supplier Order Management </a></li>
            <li><i class="tiny material-icons">timeline</i><a [routerLink]="'/reporting-management'"><i class="fas fa-map-pin"></i>Reporting </a></li>
        
        </ul> 
    
</div>

    <div class="main_content">
        <div class="header-section">
            <div class="header-section-1">
                Operating from Container: 
                <br>{{currentContainer.ConName}}
            </div>
        
            <div class="header-section-2">
                Date:  {{dateVal | date: 'dd/MM/yyyy'}}
            </div>
        
            <div class="header-section-3">
                {{user.UserName}} {{user.UserSurname}} <br> 
               <button (click)="logout()"><i class="tiny material-icons" >power_settings_new</i></button>
            </div>

        </div> 
        <div class="info">
            
        <router-outlet></router-outlet>
        </div>
        

    </div>
        </div>