<h1>Reset Password</h1>
<br>
<div class="card">
<form  class="col s12 white">
   <div class="row">
     <div class="input-field col s12">
       <input type="text" name="UserName" placeholder="Email Address" required>
     </div>
   </div>
   <div class="row">
      <div class="input-field col s12">
        <input type="password"  name="Password" placeholder="Cell No" required>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button  class="btn-large btn-submit" type="submit">Reset</button>
        </div>
      </div>
  </form>
</div>
