<!-- <h1>Reset Password</h1>
<br>
<div class="card">
  <div class="divleft">
    <label class="subheadinglabel">Enter the new password details:</label> 
    <form  class="col s12 white">
      <div class="row">
        <div class="input-field col s12">
          <label for="Name">Email</label>
          <input type="text" class="form-control" [(ngModel)]="user.UserEmail" id="UserEmail" name="UserEmail" required>
        </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
            <label for="Name">Password</label>
            <input type="password" class="form-control" [(ngModel)]="user.UserPassword" id="UserPassword" name="UserPassword" required>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <label for="Name">Confirm Password</label>
            <input type = "password" id="confirmPassword"  class="confirmPasswordInput" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword">  
          </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
              <button  class="btn-large btn-submit" type="submit" click="resetPassword()">Reset</button>
            </div>
          </div>
      </form>
  </div>
</div>
 -->