<body>
    <h1>Search Supplier Order</h1>
    <br>
    <form>
    <div class="card">
        <div class="divleft">
          <label class="subheadinglabel">Select Search Criteria</label>
        </div>
        <div >
          <mat-radio-group  aria-label="Select Option To View">
          <mat-radio-button  value = 1 (click)="getAll()" >All Supplier Orders</mat-radio-button>
          <mat-radio-button value = 2 (click)="getContainers()" >By Container</mat-radio-button>
          <mat-radio-button value = 3 (click)="getOrderStatuses()" >By Order Status</mat-radio-button>
          <mat-radio-button value = 4 (click)="showDate()" >By Date</mat-radio-button>
          </mat-radio-group>
          <br>
          <div class="divleft">
          <button type="submit" (click)="Cancel()">Cancel</button>
        </div>
        </div>

        
        <div *ngIf = "showContainer">
          <div class= "divleft">
          <label>Select Container</label><select [ngModelOptions]="{standalone: true}" required name="SelectContainer" [(ngModel)]="SelectContainer" (ngModelChange)="selectContainer($event)">
          <option  *ngFor="let container of containers" [ngValue]="container" >{{container.ConName}}</option>
         </select>
         <br>
         <div *ngIf="showError">
              <span style="color:orangered;">container selection required</span>
          </div>
         
         
          <button type="submit" (click)="searchByContainer()">Search</button>
          
        </div>
       
       </div>

       <div *ngIf = "showStatuses">
        <div class= "divleft">
        <label>Select Status:</label><select [ngModelOptions]="{standalone: true}" required name="SelectStatus" [(ngModel)]="SelectStatus" (ngModelChange)="selectStatus($event)">
        <option  *ngFor="let status of statuses" [ngValue]="status" >{{status.SOSDescription}}</option>
       </select>
       <br>
       <div *ngIf="showError">
            <span style="color:orangered;">Status selection required</span>
        </div>
        <br>
        
          <button type="submit" (click)="searchByStatus()">Search</button>
        </div>
       
     </div>

     <div *ngIf = "showdate">
      <div class= "divleft">
      <label>Select Date:</label><input type="date" [ngModelOptions]="{standalone: true}" required name="date" [(ngModel)]="date" >
     <br>
     <div *ngIf="showError">
          <span style="color:orangered;">Date selection required</span>
      </div>
     
     
      <button type="submit" (click)="searchByDate()">Search</button>
    </div>
   
   </div>

   <div *ngIf="showList">
   <table [ngModelOptions]="{standalone: true}" style="width: 100%; padding: 0px">
    <th style="padding: 1px">Date</th>
    <th style="width: 35%;padding: 1px">Supplier</th>
    <th style="padding: 1px">Status</th>
    <th style="padding: 1px"></th>

<tr *ngFor="let item of supplierOrders; index as ndx">
    <td>{{item.SODate | date: 'yyyy-MM-dd'}}</td>
    <td>{{item.SupName}}</td>
    <td>{{item.Status}}</td>
    <td><button style="border-radius: 10px; width: 95%;" (click)="View(ndx)">View</button></td> 

</tr>

</table>
</div>

<div *ngIf="showOrder">
  <label class="subheadinglabel">Supplier Order Details </label>
  <div class="left">
    <div style="float:left; width: 50%">
      <label style="width: 100%">Date: {{selectedOrder.SODate | date:'yyyy-MM-dd'}}</label>
    </div>
    <div style="float:left; width: 50%">
      <label style="width: 100%">Status {{selectedOrder.Status}}</label>
    </div>
  </div>
 

  <table [ngModelOptions]="{standalone: true}" style="width: 100%; padding: 0px">
   <th style="padding: 1px">Product</th>
   <th style="width: 35%;padding: 1px">Description</th>
   <th style="padding: 1px">Ordered</th>
   <th style="padding: 1px">Received</th>

<tr *ngFor="let item of orderproducts; index as ndx">
   <td>{{item.ProdName}}</td>
   <td>{{item.ProdDescription}}</td>
   <td>{{item.SOPQuantityOrdered}}</td>
   <td>{{item.SOPQuantityRecieved}}</td>

</tr>

</table>
<br>
<div class= "divleft">
  <button type="submit" (click)="CancelOrder()">Cancel Order</button>
  <button type="submit" (click)="Back()">Back To List</button>
</div>

</div>


    </div>
       