<body>
    <h1>Create Location</h1>
    <div class="divright">
      <label style="color:orange">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form [formGroup]="angForm" >
    <br>
        
        <div class="card">
  <div class="divleft">
    <div class="subheadinglabel" id="location">Enter Location Details:</div>
      <br>
      <div class="divleft" >
        <label for="LocName">Location Name:   </label>
          <input type="text" formControlName="LocName" class="form-control" [(ngModel)]="location.LocName" id="LocName" name="LocName" pattern="[a-zA-Z ]*" required> 
          <br>
                <span style="color:red" *ngIf="angForm.get('LocName').errors && (angForm.get('LocName').touched || angForm.get('LocName').dirty)">
                    <span *ngIf="angForm.get('LocName').errors.required">Name is required.</span>
                    <span *ngIf="angForm.get('LocName').errors.minlength || angForm.get('LocName').errors.maxlength">Name must be greater than 2 characters and less than 25 characters</span>
                    <span *ngIf="angForm.get('LocName').errors.pattern">Only text characters.</span>
                </span>
        </div>

        <div class="divleft" >
          <label>Area:</label>
            <select required formControlName="AreaID" class="form-control" [(ngModel)]="location.AreaID" name="AreaID" id="AreaID" required>
                  
                  <option  *ngFor="let area of areas" value="{{area.AreaID}}">{{area.ArName}}</option>
            </select>
            <br>
                <span style="color:red" *ngIf="angForm.get('AreaID').errors && (angForm.get('AreaID').touched || angForm.get('AreaID').dirty)">
                    <span *ngIf="angForm.get('AreaID').errors.required">Area is required.</span>
                </span>
          </div>

      <div class="divleft" >
        <label>Container:</label>
         <select required formControlName="ContainerID" class="form-control" [(ngModel)]="location.ContainerID" name="ContainerID" id="ContainerID" required>
               <option  *ngFor="let container of containers" value="{{container.ContainerID}}">{{container.ConName}}</option>
         </select>
         <br>
                <span style="color:red" *ngIf="angForm.get('ContainerID').errors && (angForm.get('ContainerID').touched || angForm.get('ContainerID').dirty)">
                    <span *ngIf="angForm.get('ContainerID').errors.required">Containeris required.</span>
                </span>
        </div> 
       
      <div class="divleft" >
        <label>Location Status:</label>
        <select required formControlName="StatusID" class="form-control" [(ngModel)]="location.LocationStatusID" name="LocationStatusID" id="LocationStatusID" required >
              <option  *ngFor="let status of statuses" value="{{status.LocationStatusID}}">{{status.LSDescription}}</option>
        </select>
        <br>
                <span style="color:red" *ngIf="angForm.get('StatusID').errors && (angForm.get('StatusID').touched || angForm.get('StatusID').dirty)">
                    <span *ngIf="angForm.get('StatusID').errors.required">Location is required.</span>
                </span>
      </div>

  
            <button type="button" (click)="addLocation()" >Create Location</button> 
            <button type="button" (click)="gotoGPSManagement()">Cancel</button>
          </div>
        </div>
      </form>
  </body>
  
