<body>
    <h1>Add Supplier</h1>
    <form #form='ngForm' class="mb-4" autocomplete="off" >
        
        <br>
        <div class="card">
            <div class = "divleft">
            <br><br>
            <label class="subheadinglabel">Enter supplier Details:</label>
        <br><br>
        <div class="divleft" >
            <label for="SupName">Name:       </label>
            <input type="text" class="form-control" [(ngModel)]="supplier.SupName" id="SupName" name="SupName" required>
            <small style="color: coral;">required</small>
        </div>


        <br>
        <div class="divleft" >
            <label for="SupCell">Cell Number:  </label>
            <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  class="form-control" [(ngModel)]="supplier.SupCell" id="SupCell" name="SupCell" required>
            <small style="color: coral;">Format: 123-456-7890</small>
        </div>

        <br>
        <div class="divleft"  >
            <label for="SupEmail">Email:</label>
            <input type="email" class="form-control" [(ngModel)]="supplier.SupEmail" id="SupEmail" name="SupEmail" required>
            <small style="color: coral;">Format: email@email.email</small>

        </div>

        <br>
        <div class="divleft" >
            <label for="SupStreetNr">Street No: </label>
            <input type="number" min="1" class="form-control" [(ngModel)]="supplier.SupStreetNr" id="SupStreetNr" name="SupStreetNr" required> 
            <small style="color: coral;">required</small>
        </div>

        <br>
        <div class="divleft" >
            <label for="SupStreet">Street:    </label>
            <input type="text" class="form-control" [(ngModel)]="supplier.SupStreet" id="SupStreet" name="SupStreet" required> 
            <small style="color: coral;">required</small>
        </div>
        
        <br>
        <div class="divleft" >
            <label for="SupCode">Postal Code:   </label>
            <input type="number" min="1" class="form-control" [(ngModel)]="supplier.SupCode" id="SupCode" name="SupCode" placeholder="0000" required> 
            <small style="color: coral;">required</small>
        </div>
 
        <br>
        <div class="divleft" >
            <label for="SupSuburb">Suburb:   </label>
            <input type="text"  class="form-control" [(ngModel)]="supplier.SupSuburb" id="SupSuburb" name="SupSuburb" placeholder="Example: Hatfield" required> 
            <small style="color: coral;">required</small>
        </div>
        <br><br>
        <div class="divleft" >
            <button type="submit" (click)="addSupplier()" [disabled]="form.invalid">Save</button> 
            <button type="submit" (click)="gotoSupplierManagement()">Cancel</button>
         </div>
         <br><br>
        </div>
    </div>
      
        

        
    </form>
</body>



