<body>

    <form>
        <h1>Searched Product Details</h1>

        <div class="card">
            <div class="divleft">
                <label class="subheadinglabel">Searched Product Details:</label>
            </div>
           
            <div class="divleft" style="float: left; width: 50%;">
                <label class="subheadinglabel">Product Details:</label>
                <br>
                <label for="ProductCategoryID">Product Category:</label><input type="text">
                <br>
                <label for="ProdName">Name:</label><input type="text">
                <br>
                <label for="ProdDesciption">Description:</label><input type="text">
                <br>
                <label for="ProdBarcode">Barcode:</label><input type="text">
                <br>
                <label for="ProdReLevel">Reorder level:</label><input type="text">
            </div>

            <div class="divleft" style="float: left; width: 50%;">
                <label class="subheadinglabel">Current Price:</label>
                <br>
                <label for="CPriceR">Cost Price(R):</label><input type="text">
                <br>
                <label for="UPriceR">Unit Price(R):</label><input type="text">
                <br>
                <label for="PriceStartDate">Price Start Date:</label><input type="text">
                <br>
                <label for="PriceEndDate">Price End Date:</label><input type="text">
            </div>

            <div class="divleft" *ngIf="showBtns">
                <button type="submit" (click)="Update()">Update</button>
                <button type="submit" (click)="Remove()"> Remove</button>
                <button type="submit" (click)="ListAllPrices()">List All Prices</button>
                <button type="submit" (click)="AddPrice()">Add Price</button>
            </div>

            <div class="divleft"  *ngIf="showBtnsWhenUpdateClicked">
                <button type="submit" (click)="Save()" >Save</button>
                <button type="submit" (click)="Cancel()">Cancel</button>
            </div>
        </div>
    </form>

    <form>
        <div>
            <p>list of prices</p>
        </div>

        <div>
            <p>add price</p>
        </div>
    </form>


</body>


