<body>
    <h1>Supplier Order Management</h1>
    <br/>
    <form>
        
        <div class="card" id="supplierorder">
  
           
            <button style="width: 25%;" routerLink="/place-supplier-order" type="submit" >Place Supplier Order</button><br>
           
            <button style="width: 25%;" routerLink="/search-supplier-order" type="submit" >Search Supplier Order</button><br>
           
            <button style="width: 25%;" routerLink="/search-supplier-order" type="submit" >Cancel Supplier Order</button><br>
            
            <button style="width: 25%;" routerLink="/search-supplier-order" type="submit" >Receive Stock</button><br>
           
        </div>
        <br><br>
      
       
  
    
    </form>
  
  </body>
