<body>
    <h1>Supplier Order Management</h1>
    <div class="divright">
        <label style="color:orange"  (click)="openHelp()">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form>
        
        <div class="card" id="supplierorder">
  
           
            <button style="width: 25%;" routerLink="/place-supplier-order" type="submit" >Place Supplier Order</button><br>
           
            <button style="width: 25%;" routerLink="/search-supplier-order" type="submit" >Search Supplier Order</button><br>
           
            <button style="width: 25%;" routerLink="/search-supplier-order" type="submit" >Cancel Supplier Order</button><br>
            
            <button style="width: 25%;" routerLink="/receive-stock" type="submit" >Receive Stock</button><br>
           
        </div>
        <br><br>
      
       
  
    
    </form>
  
  </body>
