<h1>Search Employee Profile</h1>
<form [formGroup] = "empForm">
    <div *ngIf = "showBar" class="card">
        <button type="submit" (click) ="search()">Search</button>
        <button type="submit" (click) ="viewAll()">View all Employees</button>
    </div>

    <div *ngIf = "showSearch" class="card" >
            
        <div  class="divleft" >
            <br>
            <label class="subheadinglabel" >Enter Registered User Name and Surname To search:</label>
            <br>
            <label for="name">Name:       </label>
            <input class="searchinput" formControlName ="name" class="form-control" [(ngModel)]="name" type="text" id="name" name="name" pattern="[a-zA-Z ]*" required>
            <span style="color:red" *ngIf="empForm.get('name').errors && (empForm.get('name').touched || empForm.get('name').dirty)">
                <span *ngIf="empForm.get('name').errors.required">Name is required.</span>
                <span *ngIf="empForm.get('name').errors.minlength || empForm.get('name').errors.maxlength">Name must be greater than 2 characters and less than 25 characters</span>
                <span *ngIf="empForm.get('name').errors.pattern">Only text characters.</span>
            </span>
            <br>

            <label for="cusSurname">Surname:   </label>
            <input class="searchinput" formControlName ="surname" class="form-control" [(ngModel)]="surname" type="text" id="surname" name="surname" pattern="[a-zA-Z ]*" required>
            <span style="color:red" *ngIf="empForm.get('surname').errors && (empForm.get('surname').touched || empForm.get('surname').dirty)">
                <span *ngIf="empForm.get('surname').errors.required">Surname is required.</span>
                <span *ngIf="empForm.get('surname').errors.minlength || empForm.get('surname').errors.maxlength">Name must be greater than 2 characters and less than 25 characters</span>
                <span *ngIf="empForm.get('surname').errors.pattern">Only text characters.</span>
            </span>

            <div class="divleft">
                <button type="submit" (click) ="searchEmployee()">Search</button>
                <button type="submit" (click)="gotoEmployeeManagement()">Cancel</button>
            </div>
        </div>
    </div>

     <div *ngIf="showUpload" class = "card">
        <div>
            <button type="submit" (click)="getImages()">View uploaded image details</button>
            <button type="submit" (click)="getCvs()">View uploaded CV's</button>
        </div>
    </div> 

    <div class="card" *ngIf= "showImgs"> 
        <p class="subheadinglabel">List of all the Employees images:</p>

        <table>
            <tr>
                <th>Img caption</th>
                <th>Img name</th>
            </tr>


            <tr *ngFor="let item of empPicture">
                
                <td>{{item.ImgCaption}}</td>
                <td>{{item.ImgName}}</td>
                <!-- <td><button (click)="view(item.UserName, item.UserSurname)">View</button></td> -->
            </tr>
            
        </table> 
        <button type="submit" (click)="cancel()">Cancel</button> 
    </div>

    
    <div class="card" *ngIf= "showCvs"> 
        <p class="subheadinglabel">List of all the Employees CVs:</p>

        <table>
            <tr>
                <th>CV caption</th>
                <th>CV name</th>
            </tr>


            <tr *ngFor="let item of empCV">
                
                <td>{{item.CVCaption}}</td>
                <td>{{item.CVName}}</td>
                <!-- <td><button (click)="view(item.UserName, item.UserSurname)">View</button></td> -->
            </tr>
            
        </table> 
        <button type="submit" (click)="cancel()">Cancel</button> 
    </div>


    <div *ngIf ="showImg" class="card">
        <div class="container">
            <img [src]=getSantizeUrl(imageUrl) img style="width:450px; height: 400px">      
        </div>
      </div>

    <div class="card" *ngIf= "showAll"> 
        <p class="subheadinglabel">List of all the Employees:</p>

        <table>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Cell</th>
                <th>Action</th>
            </tr>


            <tr *ngFor="let item of user">
                
                <td>{{item.UserName}}</td>
                <td>{{item.UserSurname}}</td>
                <td>{{item.UserCell}}</td>
                <td><button style="height: 30px;"class="btntable" (click)="view(item.UserName, item.UserSurname)">View</button></td>
            </tr>
            
        </table> 
        <button type="submit" (click)="cancel()">Cancel</button> 
    </div>

    <br><br>
    <div *ngIf = "showResults" class="card">
        <div class="divleft">
            <br>
            <label class="subheadinglabel">Employee General Details:</label>
            <br>   
            <div class="divleft" >
                <label for="UserName">Name:       </label>
                <input class="searchinput" formControlName="UserName" [(ngModel)]="user.UserName"  type="text" id="UserName" name="UserName" required [readonly] = "this.inputDisabled">
                <br>

                <label for="UserSurname">Surname:   </label>
                <input class="searchinput" formControlName="UserSurname" [(ngModel)]="user.UserSurname" type="text" id="UserSurname" name="UserSurname" required [readonly] = "this.inputDisabled">
                <br>
                <label for="UserCell">Cell Number:  </label>
                <input class="searchinput" formControlName="UserCell" [(ngModel)]="user.UserCell"  type="text" id="UserCell" name="UserCell" required [readonly] = "this.inputDisabled">
                <br>
                <label for="UserEmail">Email:      </label>
                <input class="searchinput" formControlName="UserEmail" [(ngModel)]="user.UserEmail"  type="text" id="UserEmail" name="UserEmail" required [readonly] = "this.inputDisabled">
                <br>
            </div>
        </div>>

        <br>
        <div class="divleft" >
            <label class="subheadinglabel">Employee Work Details:</label>
            <br>
            <label for="EmployeeStartDate">Work Start Date: </label>
            <input class="searchinput" formControlName="EmpStartDate" [(ngModel)]="employee.EmpStartDate"  type="text" id="EmpStartDate" name="EmpStartDate" required [readonly] = "this.inputEnabled">
            <br>
            <label for="EmployeeShiftsCompleted">Shifts Completed:    </label>
            <input class="searchinput" formControlName="EmpShiftsCompleted" [(ngModel)]="employee.EmpShiftsCompleted" type="text" id="EmpShiftsCompleted" name="EmpShiftsCompleted" required [readonly] = "this.inputEnabled">
        </div>


        <br><br>
        <div class="divleft" *ngIf="showButtons">
        <button type="submit" (click)="update()">Update</button>
        <button type="submit" (click)="deleteEmployee()">Delete</button>
        </div>

        <div class="divleft" *ngIf="showSave" >
            <button type="submit" (click)="Save()">Save</button>
            <button type="submit" (click)="cancel()">Cancel</button>
        </div>

    </div>
</form>