<body>
    <h1>Update Location</h1>
    <form  #form='ngForm' class="mb-4" autocomplete="off" >    
      <div class="card" *ngIf = "showSearchEdit">
        <br>
    <div class="divleft"  >
        <label class="subheadinglabel" >Enter Location Name to search </label>
    <br>
        <label for="name">Location Name:       </label>
        <input class="searchinput" class="form-control" [(ngModel)]="name" type="text" id="name" name="name" required>
        
    </div>
    <br>
    
    <div class="divleft">
        <button type="submit"(click)="searchLocationEdit()" >Search</button>
        <button type="submit" (click)="gotoGPSManagement()" >Cancel</button>
    </div>
    
    </div>  
    <div  *ngIf = "showResultsEdit">
    <br>       
        <div class="card">
          <div class="divleft">
          <div class="subheadinglabel" id="location">Enter Location Details:</div>
            <br>

            <div class="divleft" >
            <label for="LocName">Location Name:   </label>
            <input type="text" class="form-control" [(ngModel)]="location.LocName" id="LocName" name="LocName"  required> 
            </div>

             <div class="divleft" >
              <label>Location Status</label>
              <select required  class="form-control" [(ngModel)]="location.LocationStatusID" name="LocationStatusID" id="LocationStatusID" >
                    <option value="0">--Select--</option>
                    <option  *ngFor="let status of statuses" value="{{status.LocationStatusID}}">{{status.LSDescription}}</option>
              </select>
            </div>

            <div class="divleft" >
            <label>Area</label>
              <select required  class="form-control" [(ngModel)]="location.AreaID" name="AreaID" id="AreaID" >
                    <option value="0">--Select--</option>
                    <option  *ngFor="let area of areas" value="{{area.AreaID}}">{{area.ArName}}</option>
              </select>
            </div>
             
            <div class="divleft" >
             <label>Container</label>
              <select required  class="form-control" [(ngModel)]="location.ContainerID" name="ContainerID" id="ContainerID" >
                    <option value="0">--Select--</option>
                    <option  *ngFor="let container of containers" value="{{container.ContainerID}}">{{container.ConName}}</option>
              </select>
             </div>   
            
            
            <button type="button" (click)="updateLocation()">Update</button> 
            <button type="button" (click)="gotoGPSManagement()" >Cancel</button>
          </div>
        </div>

    </div>  
    </form>
 </body>
  
