<body>
    <h1>Update Location</h1>
    <form>
        
        <div class="card" id="creditor">
  
          <div class="divleft">
            <br>
            <div class="subheadinglabel" id="creditor">Enter Updated Location Details:</div>
            <br>
            <label>Location Name:</label>
            <input class="searchinput" type ="text" id="LocNameid" name="LocName" required style="width:580px"> <br/>
  
                <label for="credpayment">Area:</label>
                <select class="smallselect" name="Creditor" required id="Creditor" required style="width:580px">
                  <option>---</option>
                </select>          
            <br/>
            
            <label for="credpayment">Container:</label>
                <select class="smallselect" name="Creditor" required id="Creditor" required style="width:580px">
                  <option>---</option>
                </select>          
            <br/>
  
            <label for="credpayment">Location Status:</label>
                <select class="smallselect" name="Creditor" required id="Creditor" required style="width:580px">
                  <option>---</option>
                    <option>In-Use</option>
                    <option>Unoccupied</option>
                </select>          
            <br/>
  
            <button type="submit" disabled>Save</button>
            <button routerLink="/search-location" type="submit" >Cancel</button>
          </div>
  
            
            
        </div>
        <br><br>
  
    
    </form>
  
  </body>
  
