<body>
    <h1>Update Location</h1>
    <div class="divright">
      <label style="color:orange" (click)="openHelp()">Help <i style="color:orange" class="tiny material-icons">help</i></label>
</div>
    <form [formGroup]="angForm"  >    
      <div class="card" *ngIf = "showSearchEdit">
        <br>
    <div class="divleft"  >
        <label class="subheadinglabel" >Enter Location Name to search </label>
    <br>
        <label for="name">Location Name:       </label>
        <input class="searchinput" formControlName="name" class="form-control" [(ngModel)]="name" type="text" id="name" name="name" required>
        <br>
          <span style="color:red" *ngIf="angForm.get('name').errors && (angForm.get('name').touched || angForm.get('name').dirty)">
            <span *ngIf="angForm.get('name').errors.required">Name is required.</span>
            <span *ngIf="angForm.get('name').errors.minlength || angForm.get('name').errors.maxlength">Name must be greater than 2 characters and less than 25 characters</span>
            <span *ngIf="angForm.get('name').errors.pattern">Only text characters.</span>
          </span>
    </div>
    <br>
    
    <div class="divleft">
        <button type="submit"(click)="searchLocationEdit()" >Search</button>
        <button type="submit" (click)="gotoGPSManagement()" >Cancel</button>
    </div>
    
    </div>  
    <div  *ngIf = "showResultsEdit">
    <br>       
        <div class="card">
          <div class="divleft">
          <div class="subheadinglabel" id="location">Enter Location Details:</div>
            <br>

            <div class="divleft" >
            <label for="LocName">Location Name:   </label>
            <input type="text" formControlName="LocName" class="form-control" [(ngModel)]="location.LocName" id="LocName" name="LocName"  required> 
            <br>
                <span style="color:red" *ngIf="angForm.get('LocName').errors && (angForm.get('LocName').touched || angForm.get('LocName').dirty)">
                    <span *ngIf="angForm.get('LocName').errors.required">Name is required.</span>
                    <span *ngIf="angForm.get('LocName').errors.minlength || angForm.get('LocName').errors.maxlength">Name must be greater than 2 characters and less than 25 characters</span>
                    <span *ngIf="angForm.get('LocName').errors.pattern">Only text characters.</span>
                </span>
            </div>

             <div class="divleft" >
              <label>Location Status</label>
              <select required formControlName="StatusName" class="form-control" [(ngModel)]="location.LocationStatusID" name="LocationStatusID" id="LocationStatusID" >
                    <option value="0">--Select--</option>
                    <option  *ngFor="let status of statuses" value="{{status.LocationStatusID}}">{{status.LSDescription}}</option>
              </select>
              <br>
              <span style="color:red" *ngIf="angForm.get('StatusName').errors && (angForm.get('StatusName').touched || angForm.get('StatusName').dirty)">
                <span *ngIf="angForm.get('StatusName').errors.required">Status is required.</span>
              </span>
            </div>

            <div class="divleft" >
            <label>Area</label>
              <select required  formControlName="AreaName" class="form-control" [(ngModel)]="location.AreaID" name="AreaID" id="AreaID" >
                    <option value="0">--Select--</option>
                    <option  *ngFor="let area of areas" value="{{area.AreaID}}">{{area.ArName}}</option>
              </select>
              <br>
              <span style="color:red" *ngIf="angForm.get('AreaName').errors && (angForm.get('AreaName').touched || angForm.get('AreaName').dirty)">
                <span *ngIf="angForm.get('AreaName').errors.required">Area is required.</span>
              </span>
            </div>
             
            <div class="divleft" >
             <label>Container</label>
              <select required formControlName="ContainerName" class="form-control" [(ngModel)]="location.ContainerID" name="ContainerID" id="ContainerID" >
                    <option value="0">--Select--</option>
                    <option  *ngFor="let container of containers" value="{{container.ContainerID}}">{{container.ConName}}</option>
              </select>
              <br>
              <span style="color:red" *ngIf="angForm.get('ContainerName').errors && (angForm.get('ContainerName').touched || angForm.get('ContainerName').dirty)">
                <span *ngIf="angForm.get('ContainerName').errors.required">Container is required.</span>
              </span>
             </div>   
            
            
            <button type="button" (click)="updateLocation()">Update</button> 
            <button type="button" (click)="gotoGPSManagement()" >Cancel</button>
          </div>
        </div>

    </div>  
    </form>
 </body>
  
