<body>
    <form>
        <h1>Stock Management</h1>
        <div class="card">
            <button type="submit" style="width: 30%;" (click)="StockTake()" >Complete Stock Take</button><br>
            <button type="submit" style="width: 30%;" (click)="SearchStockTake()" >Search Stock Take</button><br>
            <button type="submit" style="width: 30%;" (click)="lowStock()">View Low Stock</button><br>
            <button type="submit" style="width: 30%;" (click)="MarkedOff()" > Makred-Off Products</button><br>
            <button type="submit" style="width: 30%;" (click)="stockTakeForm()">Generate Stock Take Form</button><br>
        </div>
    </form>
</body>




